  <div class="page-title-header">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li>
          <a href="#">RPC</a>
        </li>
        <li class="active">Report Details </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1></h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
  <form style="height: 80%;">
        <div style=" height:80%; background-color: transparent">
            <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(Url)"
             style="width:100%;height:calc(100vh - 10px);border:2px solid #ccc;"></iframe>
        </div>
    </form>
    </div>
    </div>
    </div>