<div class="page-title-header">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#">TVC</a></li>
        <li><a href="#">Create Account</a></li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Split Plan</h1>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <!--personal details-->
  <div class="panel panel-default">
    <div class="panel-heading">
      Personal Details
    </div>
    <div class="panel-body">
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label"> Title </label>
          <div class="input-group">
            <select class="form-control"> 
                  <option> Option 1</option>
                  <option> Option 2</option>
                  <option> Option 3</option>
            </select>
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label"> Suffix </label>
          <div class="input-group">
            <select class="form-control"> 
                  <option> Option 1</option>
                  <option> Option 2</option>
                  <option> Option 3</option>
            </select>
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label> First Name  </label>

          <div class="input-group">
            <input type="text" class="form-control" placeholder="First Name">
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label> MI  </label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="MI">
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label> Last Name  </label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Last Name">
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label> Gender  </label>

          <div class="input-group">
            <select class="form-control"> 
             <option> option 1 </option>
             <option> option 2 </option>
             <option> option 3 </option>
           </select>
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Contact Details
    </div>
    <div class="panel-body">

      <div class="col-md-6">
        <div class="form-group">
          <label> Address Line1</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="text">
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label> Address Line2</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="text">
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label> Address Line3</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="text">
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label> City </label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="text">
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label> State </label>
          <div class="input-group">
            <select class="form-control"> 
              <option> option 1 </option>
              <option> option 2 </option>
              <option> option 3 </option>
            </select>
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label> Zip1 </label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Zip1">
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label> Zip2 </label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Zip1">
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label> Country </label>
          <div class="input-group">
            <select class="form-control"> 
                <option> option 1 </option>
                <option> option 2 </option>
                <option> option 3 </option>
              </select>
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label> Primary Email </label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Primary Email">
            <div class="input-group-addon">
              <input type="radio"> is Preferred?
            </div>
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label> Secondary Email  </label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Secondary Email ">
            <div class="input-group-addon">
              <input type="radio"> is Preferred?
            </div>
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label> Day Phone # </label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Day Phone #">
            <div class="input-group-addon">
              <input type="radio"> is Preferred?
            </div>
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label> Evening Phone # </label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Evening Phone #">
            <div class="input-group-addon">
              <input type="radio"> is Preferred?
            </div>
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label> Mobile Phone # </label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Mobile Phone # ">
            <div class="input-group-addon">
              <input type="radio"> is Preferred?
            </div>
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label> Work Phone # </label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Work Phone #">
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label> Ex </label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Ex">
            <div class="input-group-addon">
              <input type="radio"> is Preferred?
            </div>
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label> Fax </label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Fax">
            <div class="input-group-addon">
              <button type="button" class="pop-over" data-container="body" [popover]="popDPN" popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
              <ng-template #popDPN>
                <ul>
                  <li>Help Tex1</li>
                  <li>Help Tex2</li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row"> 
      <div class="col-md-12"> 
          <button class="btn btn-default btn-search"> Create Account </button>
          <button class="btn btn-default btn-reset"> Reset </button>
      </div>
  </div>
  
</div>