<div class="page-title-header">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#">IMC</a></li>
        <li class="active"> Shipment </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1> View Shipment </h1>
      </div>
    </div>
  </div>
</div>

<div class="content">

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-12 form-group">
            <label class="focused"> Purchase Order#:</label>
            <select class="form-control"> 
                  <option> option one  </option>
                  <option> option two  </option>
                  <option> option three  </option>
              </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="col-md-12 form-group">
            <label class="focused"> Shipment Status:</label>
            <select class="form-control"> 
                  <option> Shipment 1  </option>
                  <option> Shipment 2 </option>
                  <option> Shipment 3 </option>
              </select>
          </div>
        </div>


        <div class="col-md-12">
          <div class="form-group">
            <span> <strong> Time Period: </strong> </span>
            <label class="radio-inline"> 
              <input type="radio" value="option1"> Date Range  
            </label>
            <label class="radio-inline"> 
              <input type="radio" value="option2"> Today   
            </label>
            <label class="radio-inline"> 
              <input type="radio" value="option3">  Current Week  
            </label>
            <label class="radio-inline"> 
              <input type="radio" value="option4"> Current Month   
            </label>
            <label class="radio-inline"> 
              <input type="radio" value="option5"> Current Year 
            </label>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-xs-6">
              <div class="col-md-12 form-group">
                <label> From </label>
                <input type="text" class="form-control" placeholder="From">
              </div>
            </div>

            <div class="col-xs-6">
              <div class="col-md-12 form-group">
                <label> To </label>
                <input type="text" class="form-control" placeholder="To">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <button class="btn btn-default btn-search"> Search </button>
          <button class="btn btn-default btn-reset"> Reset </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="form-group pull-right">
        <button class="btn btn-default btn-search"> 
          Received Shipment
        </button>
      </div>
    </div>
  </div>
  <div class="clear"> 

  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Shipment Details
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th> Purchase Order # </th>
            <th> Purchase Order Date </th>
            <th> Ship Date </th>
            <th> Shipment Status </th>
            <th> View Details </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> RO01 </td>
            <td> 08/11/2017 </td>
            <td> 08/11/2017 </td>
            <td> Shiped </td>
            <td> View </td>
          </tr>
          <tr>
            <td> RO01 </td>
            <td> 08/11/2017 </td>
            <td> 08/11/2017 </td>
            <td> Shiped </td>
            <td> View </td>
          </tr>
          <tr>
            <td> RO01 </td>
            <td> 08/11/2017 </td>
            <td> 08/11/2017 </td>
            <td> Shiped </td>
            <td> View </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>