.adjustmentFooter{
    background-color: #d3d4d3;
    font-weight: bold;
    color: #6f6666;
}
.feeStyle {
    width: 1070px; padding-right: 0;    background-color: #d1e3f3;
}
.feeStyle > table{
    border: 1px solid #CCC;
}

.feeStyle > table thead tr th{
    background-color: #9cbfde;
    color: #6f6666;
    font-weight: bold;
}

.btn-small{
    width: 50px;
    height: 34px;
    min-width: 100px;
}

