.contact-item{
    h4{
    a{
            margin: 0px 20px;

    }
}
}
.note{
    color:orange;
    font-size: 13px;
    margin: 20px;
    margin-bottom: -20px;
    strong{
        color:#000;
            margin-right: 20px;
        font-weight: 600;
    }
}
.resentOtp{
    position: absolute;
    right:18px;
    top:10px;
}
.btn-sec{
    margin-bottom: 20px
}