<!--preference start-->
<div class="page-title-header">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li>
          <a href="#">CSC</a>
        </li>
        <li>
          <a href="#">Customer Accounts</a>
        </li>
        <li class="active">Customer Preferences</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Preferences</h1>
      </div>
    </div>
  </div>
</div>
<form role="form" name="prefrenecesForm" [formGroup]="prefrenecesForm" novalidate>
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="payment-steps">
          <div class="row">
            <div class="col-md-12">
              <ul>
                <li class="done">
                  <span>1</span>Account Information</li>
                <li class="done">
                  <span>2</span>Plan Selection</li>
                <li class="done">
                  <span>3</span>Vehicle Information</li>
                <li class="active">
                  <span>4</span>Preferences</li>
                <li>
                  <span>5</span>Payment</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="selected-plan-detials">
      <div class="row">
        <div class="col-md-12">
          <div class="plan-message">
            <div class="block">
              <strong>Plan Name:</strong>
              <span for=""> {{planName}} {{isTagMessage}}</span>
            </div>
            <div class="block">
              <strong>Fee:</strong> {{fee}}</div>
            <div class="block">
              <strong>Discount:</strong> {{discount}}</div>
            <div class="block">
              <strong>Payable Amount:</strong> ${{txnAmount}}</div>

          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6 form-group popover-field">
          <label>Friendship Reward Account # </label>
          <input type="text" class="form-control" formControlName="referalTextbox" id="referalTextbox" name="referalTextbox" [(ngModel)]="ngFriendshipAccNumber"
            placeholder="Friendship Reward Account # ">
          <button type="button" class="pop-over" [popover]="poppFR" popoverTitle="Help" triggers="mouseenter:mouseleave" tabindex="-1"
            placement="left">?</button>
          <ng-template #poppFR>
            Friendship Reward Account # allows only numbers.
          </ng-template>
          <!-- <div class="msg">error message</div> -->
        </div>

        <div class="col-md-6 form-group popover-field">
          <label class="focused">How did you hear about us?</label>
          <select class="form-control" id="hearAbout" [(ngModel)]="ngHearAboutus" name="hearAbout" formControlName="hearAbout">
              <option selected="selected" value="">--Select--</option>
              <option *ngFor="let hear of hearAboutUs" value="{{hear.charAt(0)}}">{{hear}}</option>
            </select>
          <button type="button" class="pop-over" [popover]="poppHA" popoverTitle="Help" triggers="mouseenter:mouseleave" tabindex="-1"
            placement="left">?</button>
          <ng-template #poppHA>
            Select value from hear about us.
          </ng-template>
        </div>
        <!-- for prepaid customer start  -->
        <div class="col-md-6 form-group popover-field" *ngIf="!isPostpaidCustomer">
          <label class="focused">Statement Delivery Option </label>
          <select class="form-control" id="statementDelivOption" [(ngModel)]="ngStatementDeliveryOption" name="statementDelivOption"
            formControlName="statementDelivOption">
              <option selected="selected" value="">--Select--</option>
              <option *ngFor="let options of statementDeleveryOption" value="{{options}}">{{options}}</option>
            </select>
          <div class="msg" *ngIf="prefrenecesForm.controls[ 'statementDelivOption'].invalid && (prefrenecesForm.controls['statementDelivOption'].dirty || prefrenecesForm.controls['statementDelivOption'].touched)">
            <div *ngIf="prefrenecesForm.controls['statementDelivOption'].errors.required ">
              Statement Delivery Option is required.
            </div>
          </div>
          <button type="button" class="pop-over" [popover]="poppSD" popoverTitle="Help" triggers="mouseenter:mouseleave" tabindex="-1"
            placement="left">?</button>
          <ng-template #poppSD>
            Statement Delivery Option is required.
          </ng-template>
        </div>
        <!-- for prepaid customer end  -->
        <!-- for post customer start  -->
        <div class="col-md-6 form-group popover-field" *ngIf="isPostpaidCustomer">
          <label class="focused">Invoice Delivery Option </label>
          <select class="form-control" id="invoiceDeliveryOption" [(ngModel)]="ngInvoiceDeliveryOption" name="invoiceDeliveryOption"
            formControlName="invoiceDeliveryOption">
              <option selected="selected" value="">--Select--</option>
              <option *ngFor="let options of statementDeleveryOption" value="{{options}}">{{options}}</option>
            </select>
          <div class="msg" *ngIf="prefrenecesForm.controls['invoiceDeliveryOption'].invalid && (prefrenecesForm.controls['invoiceDeliveryOption'].dirty || prefrenecesForm.controls['invoiceDeliveryOption'].touched)">
            <div *ngIf="prefrenecesForm.controls['invoiceDeliveryOption'].errors.required ">
              Invoice Delivery Option is required.
            </div>
          </div>
          <button type="button" class="pop-over" [popover]="poppID" popoverTitle="Help" triggers="mouseenter:mouseleave" tabindex="-1"
            placement="left">?</button>
          <ng-template #poppID>
            Invoice Delivery Option is required.
          </ng-template>
        </div>

        <div class="col-md-6 form-group popover-field" *ngIf="isPostpaidCustomer">
          <label class="focused">Invoice Interval Type </label>
          <select class="form-control" [(ngModel)]="ngInvoiceIntrervalType" (change)="getInvoiceInterval($event.target.value)" id="invoiceTypeInterval"
            name="invoiceTypeInterval" formControlName="invoiceTypeInterval">
              <option selected="selected" value="">--Select--</option>
              <option *ngFor="let options of invoiceTypes" value="{{options.CycleID}}">{{options.CycleType}}</option>
            </select>
          <div class="msg" *ngIf="prefrenecesForm.controls['invoiceTypeInterval'].invalid && (prefrenecesForm.controls['invoiceTypeInterval'].dirty || prefrenecesForm.controls['invoiceTypeInterval'].touched)">
            <div *ngIf="prefrenecesForm.controls['invoiceTypeInterval'].errors.required ">
              Invoice Interval Type is required.
            </div>
          </div>
          <button type="button" class="pop-over" [popover]="poppII" popoverTitle="Help" triggers="mouseenter:mouseleave" tabindex="-1"
            placement="left">?</button>
          <ng-template #poppII>
            Invoice Interval Type is required.
          </ng-template>
        </div>

        <!-- for post customer end  -->
        <div class="col-md-6 form-group popover-field">
          <label class="focused">Language Preference </label>
          <select class="form-control " id="langPrefrence"[(ngModel)]="ngLanguagePref" name="langPrefrence" formControlName="langPrefrence">
              <option selected="selected" value="">--Select--</option>
              <option *ngFor="let language of objCommonResponseLanguage" [selected]="language.LookUpTypeCodeDesc == English" value="{{language.LookUpTypeCodeDesc}}">{{language.LookUpTypeCodeDesc}}</option>
            </select>
          <button type="button" class="pop-over" [popover]="poppLP" popoverTitle="Help" triggers="mouseenter:mouseleave
              " tabindex="-1 " placement="left ">?</button>
          <ng-template #poppLP>
            Select Language Preference.
          </ng-template>
        </div>
        <div class="col-md-6" *ngIf="isPostpaidCustomer">
          <div class="row">
            <div class="col-md-12 form-group popover-field" *ngIf="isInvoiceAmountTextfeild">
              <label>Invoice Amount ($) </label>
              <input type="text" class="form-control" pattern="[1-9999]*" (keyup)="isValidInput()" formControlName="invoiceAmountTextbox"
                id="invoiceAmountTextbox" name="invoiceAmountTextbox" placeholder="Invoice Amount">
              <div class="msg" *ngIf="prefrenecesForm.controls['invoiceAmountTextbox'].invalid && (prefrenecesForm.controls['invoiceAmountTextbox'].dirty || prefrenecesForm.controls[ 'invoiceAmountTextbox'].touched) && isInvoiceAmountTextfeild">
                <div *ngIf="prefrenecesForm.controls[ 'invoiceAmountTextbox'].errors.required">
                  Invoice Amount is required
                </div>
                <div *ngIf="prefrenecesForm.controls[ 'invoiceAmountTextbox'].errors.pattern">
                  Invalid Invoice Amount
                </div>
              </div>
              <button type="button" class="pop-over" [popover]="poppBIA" popoverTitle="Help" triggers="mouseenter:mouseleave" tabindex="-1 "
                placement="left ">?</button>
              <ng-template #poppBIA>
                Invoice Amount is required.
              </ng-template>
            </div>
            <div class="col-mc-12 form-group popover-field" *ngIf="isInvoiceDayFeild ">
              <label class="focused">Invoice Schedule Day </label>
              <select class="form-control" [(ngModel)]="ngInvoiceScheduleDay" id="invoiceScheduleDay" name="invoiceScheduleDay" formControlName="invoiceScheduleDay">
              <option selected="selected" value="1">1</option>
              <option *ngFor="let scheduleDay of scheduleDays" value="{{scheduleDay}}">{{scheduleDay}}</option>
            </select>
              <button type="button" class="pop-over" [popover]="poppIS" popoverTitle="Help" triggers="mouseenter:mouseleave
              " tabindex="-1 " placement="left ">?</button>
              <ng-template #poppIS>
                Invoice Schedule Day is required.
              </ng-template>
            </div>
          </div>
        </div>

        <!-- for prepaid customer  -->
        <div class="col-md-6 form-group popover-field" *ngIf="!isPostpaidCustomer">
          <label class="focused">Statement Cycle </label>
          <select class="form-control" id="statementCycle" [(ngModel)]="ngSatamentCycle" name="statementCycle" formControlName="statementCycle"
            (change)="checkStatementCycle($event.target.value)">
              <option selected="selected" value="">--Select--</option>
              <option *ngFor="let statCycle of objStatementCycle" value="{{statCycle.CycleType}}">{{statCycle.CycleDescription}}</option>
            </select>
          <button type="button" class="pop-over" [popover]="poppIS" popoverTitle="Help" triggers="mouseenter:mouseleave
              " tabindex="-1" placement="left">?</button>
          <ng-template #poppIS>
            Statement Cycle is required.
          </ng-template>
        </div>
        <!-- for prepaid customer  -->
        <div class="col-md-12">
          <button type="submit" (click)="navigateToVehicleInformation()" class="btn btn-primary btn-search">Vehicle Information</button>
          <button type="submit" (click)="updateCustomerInformation()" [disabled]="isPaymentDisabled" class="btn btn-primary
              btn-search ">Payment</button>
          <button type="submit" data-toggle="modal" data-target="#confirm-dialog" (click)="cancel()" class="btn btn-default btn-reset">Cancel</button>
        </div>
        <!--Model For Alert-->
        <!-- <div id="confirm-dialog" class="modal fade refund-request-modal" role="dialog">
          <div class="modal-dialog">
              <div class="modal-body">
              <div class=" status-message">
                <div class="status-content">
                  <p>Your Information no longer exists, if you cancel your application.<br> Are you sure you want to Cancel?</p>
                  <button class="btn btn-warning btn-search" (click)="cancelClick()">OK</button>
                  <button class="btn btn-default btn-search" data-dismiss="modal">Cancel</button>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div> -->

        <app-success-failure-alerts-message [messageFlag]='msgFlag' [msgType]='msgType' [msgTitle]='msgTitle' [msgDesc]='msgDesc'
          (onOk)="cancelClick($event)"></app-success-failure-alerts-message>
      </div>
    </div>
  </div>
  <!--preference end-->
</form>