<div class="page-title-header">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#">CSC</a></li>
        <li><a href="#">Customer Accounts</a></li>
        <li class="active">Pay By Plate List</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Pay By Plate List</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <form role="form" name="payByPlateform" [formGroup]="payByPlateform">
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="Account No.">Account #</label>
        <input type="text" pattern="[0-9]*" id="AccountId" maxlength="17" name="AccountId" formControlName="AccountId" class="form-control"
          placeholder="Account #">
        <div class="msg" *ngIf="payByPlateform.controls['AccountId'].invalid && (payByPlateform.controls['AccountId'].dirty || payByPlateform.controls['AccountId'].touched)">
          <div *ngIf="payByPlateform.controls['AccountId'].errors.pattern">
            Only numbers allowed.
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group">
          <label for="Date Range" class="focused">Time Period</label>
          <!--<input class="form-control disbale-to-write" placeholder="Daterangepicker" bsDaterangepicker #dpr="bsDaterangepicker" name="bsRangeValue"
              formControlName="bsRangeValue" [(ngModel)]="bsRangeValue" readonly="readonly">-->
          <my-date-range-picker name="mydaterange" (inputFieldChanged)='onDateRangeFieldChanged($event)' placeholder="MM/DD/YYYY - MM/DD/YYYY"
            [options]="myDateRangePickerOptions" formControlName="bsRangeValue"></my-date-range-picker>

          <div class="show-error" *ngIf="!invalidDate && payByPlateform.controls['bsRangeValue'].invalid && (payByPlateform.controls['bsRangeValue'].dirty || payByPlateform.controls['bsRangeValue'].touched)">
            <div *ngIf="payByPlateform.controls['bsRangeValue'].errors.required">
              Date Range is required
            </div>
          </div>
          <div class="show-error" *ngIf="invalidDate">
            <div>
              Invalid Date Range
            </div>
          </div>
      </div>
      <div class="col-md-12 m-b-20">
        <button type="submit" class="btn btn-primary btn-search" [disabled]="disableButton" (click)='payByPlateSearch()'>Search</button>
        <button type="submit" (click)="resetclick()" class="btn btn-default btn-reset btn-sm">Reset</button>
      </div>
    </div>
  </form>
  <div class="p-b-11 p-t-2" style="background:#fff;">
    <div class="table-bdr">
      <h3>Search Results</h3>
      <div class="pad-10">
        <table class="table table-bordered table-sm" *ngIf='payByPlateResponse && payByPlateResponse.length'>
          <thead>
            <tr>
              <th>Account #</th>
              <th>Serial #</th>
              <th>Vehicle Number</th>
              <th> VehicleState</th>
              <th> Notice</th>
              <th>PaybyPlate Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let payByPlate of payByPlateResponse;let i = index '>
              <td>{{payByPlate.AccountId}} </td>
              <td>{{payByPlate.TagID}}</td>
              <td>{{payByPlate.VehicleNumber}}</td>
              <td>{{payByPlate.VehicleState}}</td>
              <td>{{payByPlate.Notice}}</td>
              <td>{{payByPlate.PbyPDate |customDateFormat}}</td>
              <td>
                <div class="checkbox-inline checkbox ">
                  <td><input type="checkbox" id="filter{{i}}" name="check" (change)="onCheckChange($event, payByPlate)">
                   <label for="filter{{i}}">
                  <span></span> 
                </label></td>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-12 text-right m-t-20" *ngIf='payByPlateResponse && payByPlateResponse.length>0'>
            <button type="submit" class="btn btn-primary btn-search" (click)='deleteFromPayByPlateList(payByPlateResponseSelected)' [disabled]="disableUpdateButton">Remove from Pay By Plate List</button>
          </div>
        </div>
        <div *ngIf='!payByPlateResponse || payByPlateResponse.length==0'>
          <div class="status-content">
            <p>No records to display</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-success-failure-alerts-message [messageFlag]='msgFlag' [msgType]='msgType' [msgTitle]='msgTitle' [msgDesc]='msgDesc'
  (setFlag)="setOutputFlag($event)" (onOk)="submitPaybyPlate(payByPlateResponseSelected,$event)"></app-success-failure-alerts-message>