.accout-sec{
    h3{
        display: inline-block;
    }
    .btn{
        display: inline-block;
    }
}
.payment-mode-selection{
  padding:15px 0px;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
   margin-bottom: 10px;
    .form-group{
        display: inline-block;
        width: 20%;
         margin-bottom: 0px;
         p{
              margin-bottom: 0px;
         }
    }
    h3{
        margin-top:0px;
        margin-bottom: 0px;
    }
}
.btn-center{
    margin: 20px auto 0 auto;
    display: table;
}
.payment-status{
    width:92%;
    position: static;
}