.reopen-account{
    .panel-title{
        a{
            font-weight: 400;
        }
    }
    .btn{
        margin-top:20px;
        margin-left: 20px;
    }
    .dropdown{
        margin:15px 0px;
    }
}