<div class="page-title-header">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#">CSC</a></li>
        <li><a href="#">Customer Accounts</a></li>
        <li class="active">Reset Customer Login Attempts </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1> Reset Customer Login Attempts </h1>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <app-success-failure-alerts-message [messageFlag]='msgFlag' [msgType]='msgType' [msgDesc]='msgDesc' (setFlag)="setOutputFlag($event)"
        (onOk)="userAction($event)"></app-success-failure-alerts-message>
      <form role="form" name="resetPasswordmForm" [formGroup]="resetPasswordmForm" (ngSubmit)="searchAccountClick()">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="form-group col-md-12">
                    <label for="Account No.">Account # </label>
                    <input type="text" class="form-control" pattern="^[0-9]+$" MaxLength="17" AutoComplete="off" placeholder="Account #" id="accountId"
                      name="accountId" formControlName="accountId">
                    <div class="msg" *ngIf="resetPasswordmForm.controls['accountId'].invalid && (resetPasswordmForm.controls['accountId'].dirty || resetPasswordmForm.controls['accountId'].touched)">
                      <div *ngIf="resetPasswordmForm.controls['accountId'].errors.required">
                        Required
                      </div>
                      <div *ngIf="resetPasswordmForm.controls['accountId'].errors.pattern">
                        Invalid Account#
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <button type="submit" [disabled]="isDisableSearchBtn" class="btn btn-primary btn-search">Search </button>
                <input type="reset" (click)='resetClick()' class="btn btn-default btn-reset" name="Reset">
              </div>

            </div>
          </div>
        </div>
      </form>
      <div *ngIf='isShowGrid'>
        <div class="panel panel-default" *ngIf='customerDetails && customerDetails.length; else NodetailsDiv'>
          <div class="panel-heading"> Customer password attempts details </div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th> Account # </th>
                  <th> Username </th>
                  <th> Password Attempts Count </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> {{customerDetails[0].AccountId }} </td>
                  <td> {{customerDetails[0].UserName}} </td>
                  <td> {{customerDetails[0].PasswordAttemptsCount}} </td>
                  <td><a *ngIf='customerDetails[0].PasswordAttemptsCount>0' [ngClass]="{'disabletextbox': isDisableResetlnk}"
                      (click)='alertClick()'>Reset</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <ng-template #NodetailsDiv>
        <div class="panel panel-default">
          <div class="panel-heading"> Customer password attempts details </div>
          <div class="panel-body">
            <div>No records to display </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>