<div class="page-title-header">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#">CSC</a></li>
        <li><a href="#">Customer Accounts</a></li>
        <li class="active"> Split Account Vehicle Information </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1> Split Account Vehicle Information </h1>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <app-account-info></app-account-info>
  <div class="clear"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="payment-steps">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li class="done">
                <span>1</span>Account Information</li>
              <li class="done">
                <span>2</span>Plan(s) Selection</li>
              <li class="active">
                <span>3</span>Vehicle Information</li>
              <li>
                <span>4</span>Payment</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="plan-message">
    <div class="block">
      <strong>Plan Name:</strong> {{planName}} {{isTagMessage}}
    </div>
    <div class="block">
      <strong>Fee:</strong> {{fee}}</div>
    <div class="block">
      <strong>Discount:</strong>{{discount}}</div>
    <div class="block">
      <strong>Payable Amount:</strong> ${{txnAmount}}</div>
  </div>
  <app-success-failure-alerts-message [messageFlag]='msgFlag' [msgType]='msgType' [msgDesc]='msgDesc' (setFlag)="setOutputFlag($event)"></app-success-failure-alerts-message>

  <div class="col-md-12">
    <div>
      <h3> Transfer Vehicle </h3>
    </div>
    <div class="col-md-6">
      <div class="custom-control custom-radio radio-inline">
        <input type="radio" class="custom-control-input" id="EXIST" name="vehiclelist" value="EXIST" [checked]="!showVehicleBlock"
          (click)="onVehSplitChange($event.target.value)">
        <label for="EXIST" class="custom-control-description"> Existing Vehicle(s)</label>
      </div>
      <div class="custom-control custom-radio radio-inline">
        <input type="radio" class="custom-control-input" id="NEW" name="vehiclelist" value="NEW" [checked]="showVehicleBlock" (click)="onVehSplitChange($event.target.value)">
        <label for="NEW" class="custom-control-description"> Add New Vehicle</label>
      </div>
    </div>
  </div>
  <div *ngIf='parentVehicle && !showVehicleBlock'>
    <div class="col-md-12 form-group">
      <div class="row" *ngIf='parentVehicle.length>1'>
        <button (click)="movetoChild()" class="btn btn-default btn-search pull-right">Transfer Vehicle(s) to customer</button>
      </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Owner Registered Vehicle(s)
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th *ngIf='parentVehicle.length>1'>Move</th>
              <th>Plate #</th>
              <th>Class</th>
              <th>State</th>
              <th>Description</th>
              <th>Color</th>
              <th>Country</th>
              <th>Start Date Time</th>
              <th>End Date Time</th>
            </tr>
          </thead>
          <tbody>
            <!--<tr *ngFor="let pvehicle of parentVehicle | paginate: { itemsPerPage: ppageItemNumber, currentPage: pcurrentPage,totalItems:pdataLength }">-->
            <tr *ngFor="let pvehicle of parentVehicle">
              <td *ngIf='parentVehicle.length>1'>
                <div class="checkbox">
                  <input type="checkbox" id="{{pvehicle.VehicleNumber}}" (change)="transferVehicle($event.target.checked,pvehicle)" />
                  <label for="{{pvehicle.VehicleNumber}}"><span></span></label></div>
              </td>
              <td> {{pvehicle.VehicleNumber}} </td>
              <td> {{pvehicle.VehicleClassDesc}} </td>
              <td> {{pvehicle.State}} </td>
              <td> {{pvehicle.VehicleDescription}} </td>
              <td> {{pvehicle.Color}} </td>
              <td> {{pvehicle.Country}} </td>
              <td> {{pvehicle.StartEffectiveDate | customDateTimeFormat}} </td>
              <td> {{pvehicle.EndEffectiveDate | customDateTimeFormat}} </td>
            </tr>
            <tr *ngIf="parentVehicle.length==9">
              No Records to Display
            </tr>
          </tbody>
        </table>
        <!--<div class="row page-info" *ngIf="parentVehicle && parentVehicle.length>9">
 <div class="col-md-6 text-left">
 <p>Display {{pstartItemNumber}} - {{pendItemNumber}} Records of {{pdataLength}}</p>
 </div>
 <div class="col-md-6 text-right">
 <pagination-controls (pageChange)="parentpageChanged($event)"></pagination-controls>
 </div>
 </div>-->
      </div>
    </div>
  </div>
  <!--add vehicle-->
  <div class="panel-body">
    <div *ngIf="showVehicleBlock">
      <div class="clear">
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Vehicle Details
        </div>
        <div class="row">
          <!--<form role="form" name="addVehicleForm" [formGroup]="addVehicleForm" novalidate>
 <div class="col-md-6">
 <div class="form-group">
 <label for="AccountType">Plate Number</label>
 <div class="row">
 <div class="col-md-10">
 <input type="text" class="form-control" placeholder="Plate Number" pattern="[a-zA-Z0-9]*" id="pltNumbers" name="pltNumbers"
 formControlName="pltNumber">
 <div class="msg" *ngIf="addVehicleForm.controls['pltNumber'].invalid && (addVehicleForm.controls['pltNumber'].dirty || addVehicleForm.controls['pltNumber'].touched)">
 <div class="msg" *ngIf=" addVehicleForm.controls['pltNumber'].hasError('required')">
 <div>
 Plate Number is required.It allow alphanumerics only.
 </div>
 </div>
 </div>
 </div>
 <div class="col-md-2">
 <button type="button" class="tool-tip col-sm-1" data-toggle="tooltip" data-placement="right" title="Plate number is required.It allow alphanumerics only.Is should be minimum 1 character and maximum 10 charactres long.">?</button>
 </div>
 </div>
 </div>
 </div>
 <div class="col-md-6">
 <div class="form-group">
 <label for="pltClass">Class</label>
 <div class="row">
 <div class="col-md-10">
 <select class="form-control" placeholder="Class" id="pltClass" name="pltClass" formControlName="pltClass">
 <option selected="selected" value="">--Select--</option>
 <option *ngFor="let class of vehicleClass" value="{{class.Code}}">{{class.VehicleClassDesc}}</option>
 </select>
 <div class="msg" *ngIf="(addVehicleForm.controls['pltClass'].dirty || addVehicleForm.controls['pltClass'].touched) && addVehicleForm.controls['pltClass'].hasError('required')">
 <div> Class is required</div>
 </div>
 </div>
 <div class="col-md-2">
 <button type="button" class="tool-tip col-sm-1" data-toggle="tooltip" data-placement="right" title="Class is required. Select Class.">?</button>
 </div>
 </div>
 </div>
 </div>
 <div class="col-md-6">
 <div class="form-group">
 <label for="Plan Name">Year</label>
 <div class="row">
 <div class="col-md-10">
 <select class="form-control" placeholder="Year" id="pltYear" name="pltYear" formControlName="pltYear">
 <option selected="selected" value="">--Select--</option>
 <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
 </select>
 </div>
 <div class="col-md-2">
 <button type="button" class="tool-tip col-sm-1" data-toggle="tooltip" data-placement="right" title="Select Year.">?</button>
 </div>
 </div>
 </div>
 </div>
 <div class="col-md-6">
 <div class="form-group">
 <label for="Plan Name">Make</label>
 <div class="row">
 <div class="col-md-10">
 <select class="form-control" placeholder="Make" id="pltMake" name="pltMake" formControlName="pltMake" (change)="getModel($event.target.value)">
 <option selected="selected" value="">--Select--</option>
 <option *ngFor="let attribute of vehicleMake" value="{{attribute}}">{{attribute}}</option>
 </select>
 </div>
 <div class="col-md-2">
 <button type="button" class="tool-tip col-sm-1" data-toggle="tooltip" data-placement="right" title="Select Make.">?</button>
 </div>
 </div>
 </div>
 </div>
 <div class="col-md-6">
 <div class="form-group">
 <label for="pltModel">Model</label>
 <div class="row">
 <div class="col-md-10">
 <select class="form-control" placeholder="Model" id="pltModel" name="pltModel" formControlName="pltModel">
 <option selected="selected" value="">--Select--</option>
 <option *ngFor="let model of vehicleModel" value="{{model}}">{{model}}</option>
 </select>
 </div>
 <div class="col-md-2">
 <button type="button" class="tool-tip col-sm-1" data-toggle="tooltip" data-placement="right" title="Select Model.">?</button>
 </div>
 </div>
 </div>
 </div>
 <div class="col-md-6">
 <div class="form-group">
 <label for="pltColor">Color</label>
 <div class="row">
 <div class="col-md-10">
 <select class="form-control" placeholder="Color" id="pltColor" name="pltColor" formControlName="pltColor">
 <option selected="selected" value="">--Select--</option>
 <option *ngFor="let vColor of vehicleColors" value="{{vColor.LookUpTypeCode}}">{{vColor.LookUpTypeCode}}</option>
 </select>
 </div>
 <div class="col-md-2">
 <button type="button" class="tool-tip col-sm-1" data-toggle="tooltip" data-placement="right" title="Select Color.">?</button>
 </div>
 </div>
 </div>
 </div>
 <div class="col-md-6">
 <div class="form-group">
 <label for="pltCountry">Registered Country</label>
 <div class="row">
 <div class="col-md-10">
 <select class="form-control" placeholder="Register Country" id="pltCountry" name="pltCountry" (change)="getCountryBystate($event.target.value)"
 formControlName="pltCountry">
 <option selected="selected" value="">--Select--</option>
 <option *ngFor="let country of countries" value="{{country.CountryCode}}">{{country.CountryName}}</option>

 </select>
 <div class="msg" *ngIf="(addVehicleForm.controls['pltCountry'].dirty || addVehicleForm.controls['pltCountry'].touched) && addVehicleForm.controls['pltCountry'].hasError('required')">
 <div>Registered Country is required</div>
 </div>
 </div>
 <div class="col-md-2">
 <button type="button" class="tool-tip col-sm-1" data-toggle="tooltip" data-placement="right" title="Register Country is required.Select Register Country.">?</button>
 </div>
 </div>
 </div>
 </div>
 <div class="col-md-6">
 <div class="form-group">
 <label for="pltState">Registered State</label>
 <div class="row">
 <div class="col-md-10">
 <select class="form-control" placeholder="Registered State" id="pltState" name="pltState" formControlName="pltState">
 <option selected="selected" value="">--Select--</option>
 <option *ngFor="let state of states" value="{{state.StateCode}}">{{state.StateName}}</option>
 </select>
 <div class="msg" *ngIf="(addVehicleForm.controls['pltState'].invalid || addVehicleForm.controls['pltState'].touched) && addVehicleForm.controls['pltState'].hasError('required')">
 <div>Registered State is required</div>
 </div>
 </div>
 <div class="col-md-2">
 <button type="button" class="tool-tip col-sm-1" data-toggle="tooltip" data-placement="right" title="Register State is required.Select Register State.">?</button>
 </div>
 </div>
 </div>
 </div>
 <div class="col-md-6">
 <div class="form-group">
 <label for="Start Effective Date">Start Effective Date</label>
 <div class="row">
 <div class="col-md-10">
 <owl-date-time class="form-control" id="startDate" [dateFormat]="'MM/DD/YYYY HH:mm:ss'" [showSecondsTimer]="true" [placeHolder]="'MM/DD/YYYY HH:MM:SS'"
 formControlName="startDate"></owl-date-time>
 </div>
 <div class="col-md-2">
 <button type="button" class="tool-tip col-sm-1" data-toggle="tooltip" data-placement="right" title="Select Start Effective Date.">?</button>
 </div>
 </div>
 </div>
 </div>
 <div class="col-md-6">
 <div class="form-group">
 <label for="Start Effective Date">End Effective Date</label>
 <div class="row">
 <div class="col-md-10">
 <owl-date-time id="endDate" class="form-control" [dateFormat]="'MM/DD/YYYY HH:mm:ss'" [showSecondsTimer]="true" [placeHolder]="'MM/DD/YYYY HH:MM:SS'"
 formControlName="endDate"></owl-date-time>
 </div>
 <div class="col-md-2">
 <button type="button" class="tool-tip col-sm-1" data-toggle="tooltip" data-placement="right" title="Select End Effective Date.">?</button>
 </div>
 </div>
 </div>
 </div>
 <div class="col-md-6">
 <div class="form-group">
 <label for="Contractual Type">Contractual Type</label>
 <div class="row">
 <div class="col-md-10">
 <select class="form-control" placeholder="Registered State" id="pltContractual" name="pltContractual" formControlName="pltContractual">
 <option selected="selected" value="">--Select--</option>
 <option *ngFor="let cotracType of contarctualType" value="{{cotracType}}">{{cotracType}}</option>
 </select>
 <i *ngIf="addVehicleForm.controls['pltContractual'].hasError('required')">Contractual Type is required</i>
 </div>
 <div class="col-md-2">
 <button type="button" class="tool-tip col-sm-1" data-toggle="tooltip" data-placement="right" title="Select Contractual Type.">?</button>
 </div>
 </div>
 </div>
 </div>
 <div class="col-md-12">
 <div class="form-group">
 <label>
 <input type="checkbox" id="pltIsTempplate" name="pltIsTempplate" formControlName="pltIsTempplate">
 Is Temporary Licence Plate # 
 </label>
 </div>
 </div>
 <div class="col-md-12">
 <div class="row">
 <button type="submit" (click)="resetForm()" class="btn btn-default btn-reset">Reset</button>
 <button type="submit" (click)="cancleclick()" class="btn btn-default btn-reset">Cancel</button>
 <button type="submit" (click)="addVehicle(true)" class="btn btn-primary btn-search">{{isEditClicked?"Update":"Save"}}</button>
 </div>
 </div>
 </form>-->
          <div class="pad-20">
            <form role="form" name="addVehicleForm" [formGroup]="addVehicleForm" novalidate>
              <div class="form-group col-md-6 popover-field">
                <label for="AccountType">Plate Number</label>
                <input type="text" id="AccountType" class="form-control" placeholder="Plate Number" pattern="[a-zA-Z0-9]*" id="pltNumbers"
                  name="pltNumbers" formControlName="pltNumber">
                <div class="msg" *ngIf="addVehicleForm.controls['pltNumber'].invalid && (addVehicleForm.controls['pltNumber'].dirty || addVehicleForm.controls['pltNumber'].touched)">
                  <div class="msg" *ngIf="addVehicleForm.controls['pltNumber'].hasError('required')">
                    <div>
                      Plate Number is required.It allow alphanumerics only.
                    </div>
                  </div>
                  <div class="msg" *ngIf="addVehicleForm.controls['pltNumber'].errors.minlength">
                    Minimum 1 characters are required.
                  </div>
                  <div class="msg" *ngIf="addVehicleForm.controls['pltNumber'].errors.maxlength">
                    Maximum 10 characters are allowed.
                  </div>
                </div>
                <button type="button" [popover]="popPlate" triggers="mouseenter:mouseleave" class="pop-over" data-container="body" data-toggle="tooltip"
                  data-placement="left" popoverTitle="Help">?</button>
                <ng-template #popPlate>
                  <ul>
                    <li> Plate number is required.</li>
                    <li> It allow alphanumerics only.</li>
                    <li> Is should be minimum 1 character and maximum 10 charactres long.</li>
                  </ul>
                </ng-template>
              </div>
              <div class="form-group col-md-6 popover-field">
                <label for="pltClass" class="focused">Select Class</label>
                <select class="form-control" placeholder="Class" id="pltClass" name="pltClass" formControlName="pltClass">
 <option selected="selected" value="">--Select--</option>
 <option *ngFor="let class of vehicleClass" value="{{class.Code}}">{{class.VehicleClassDesc}}</option>
 </select>
                <div class="msg" *ngIf="addVehicleForm.controls['pltClass'].invalid && (addVehicleForm.controls['pltClass'].dirty || addVehicleForm.controls['pltClass'].touched)">
                  <div class="msg" *ngIf="addVehicleForm.controls['pltClass'].hasError('required')">
                    <div> Class is required</div>
                  </div>
                </div>
                <button type="button" [popover]="popClass" class="pop-over" data-container="body" data-toggle="tooltip" data-placement="left"
                  popoverTitle="Help" triggers="mouseenter:mouseleave">?</button>
                <ng-template #popClass>
                  <ul>
                    <li> Class is required.</li>
                    <li> Select Class.</li>
                  </ul>
                </ng-template>
              </div>
              <div class="form-group col-md-6 popover-field">
                <label for="Plan Name" class="focused">Select Year</label>
                <select class="form-control" placeholder="Year" id="pltYear" name="pltYear" formControlName="pltYear">
 <option selected="selected" value="">--Select--</option>
 <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
 </select>
                <button type="button" triggers="mouseenter:mouseleave" [popover]="popYear" class="pop-over" data-container="body" data-toggle="tooltip"
                  data-placement="left" popoverTitle="Help" title="Select Year.">?</button>
                <ng-template #popYear>
                  <ul>
                    <li> Select Year.</li>
                  </ul>
                </ng-template>
              </div>
              <div class="form-group col-md-6 popover-field">
                <label for="Plan Name" class="focused">Make</label>
                <select class="form-control" placeholder="Make" id="pltMake" name="pltMake" formControlName="pltMake" (change)="getModel($event.target.value)">
 <option selected="selected" value="">--Select--</option>
 <option *ngFor="let attribute of vehicleMake" value="{{attribute}}">{{attribute}}</option>
 </select>
                <button type="button" [popover]="popMake" triggers="mouseenter:mouseleave" class="pop-over" data-container="body" data-toggle="tooltip"
                  data-placement="top" popoverTitle="Help">?</button>
                <ng-template #popMake>
                  <ul>
                    <li> Select Make.</li>
                  </ul>
                </ng-template>
              </div>
              <div class="form-group col-md-6 popover-field">
                <label for="pltModel" class="focused">Model</label>
                <select class="form-control" placeholder="Model" id="pltModel" name="pltModel" formControlName="pltModel">
 <option selected="selected" value="">--Select--</option>
 <option *ngFor="let model of vehicleModel" value="{{model}}">{{model}}</option>
 </select>
                <button [popover]="popModel" triggers="mouseenter:mouseleave" type="button" class="pop-over" data-container="body" data-toggle="tooltip"
                  data-placement="top" popoverTitle="Help">?</button>
                <ng-template #popModel>
                  <ul>
                    <li> Select Model.</li>
                  </ul>
                </ng-template>
              </div>
              <div class="form-group col-md-6 popover-field">
                <label for="pltColor" class="focused">Select Color</label>
                <select class="form-control" placeholder="Color" id="pltColor" name="pltColor" formControlName="pltColor">
 <option selected="selected" value="">--Select--</option>
 <option *ngFor="let vColor of vehicleColors" value="{{vColor.LookUpTypeCode}}">{{vColor.LookUpTypeCode}}</option>
 </select>
                <button [popover]="popColor" triggers="mouseenter:mouseleave" type="button" class="pop-over" data-container="body" data-toggle="tooltip"
                  data-placement="top" popoverTitle="Help">?</button>
                <ng-template #popColor>
                  <ul>
                    <li> Select Color.</li>
                  </ul>
                </ng-template>
              </div>
              <div class="form-group col-md-6 popover-field">
                <label for="pltCountry" class="focused">Registered Country</label>
                <select class="form-control" placeholder="Register Country" id="pltCountry" name="pltCountry" (change)="getCountryBystate($event.target.value)"
                  formControlName="pltCountry">
 <option selected="selected" value="">--Select--</option>
 <option *ngFor="let country of countries" value="{{country.CountryCode}}">{{country.CountryName}}</option>
 </select>
                <div class="msg" *ngIf="addVehicleForm.controls['pltCountry'].invalid && (addVehicleForm.controls['pltCountry'].dirty || addVehicleForm.controls['pltCountry'].touched)">
                  <div class="msg" *ngIf="addVehicleForm.controls['pltCountry'].hasError('required')">
                    <div>Registered Country is required</div>
                  </div>
                </div>
                <button type="button" [popover]="popCountry" triggers="mouseenter:mouseleave" class="pop-over" data-container="body" data-toggle="tooltip"
                  data-placement="top" popoverTitle="Help">?</button>
                <ng-template #popCountry>
                  <ul>
                    <li>Registered Country is required.</li>
                    <li>Select Country.</li>
                  </ul>
                </ng-template>
              </div>
              <div class="form-group col-md-6 popover-field">
                <label for="pltState" class="focused">Registered State</label>
                <select class="form-control" placeholder="Registered State" id="pltState" name="pltState" formControlName="pltState">
                        <option selected="selected" value="">--Select--</option>
                        <option *ngFor="let state of states" value="{{state.StateCode}}">{{state.StateName}}</option>
                        </select>
                <div class="msg" *ngIf="addVehicleForm.controls['pltState'].invalid && (addVehicleForm.controls['pltState'].dirty || addVehicleForm.controls['pltState'].touched)">
                  <div class="msg" *ngIf="addVehicleForm.controls['pltState'].hasError('required')">
                    <div>Registered State is required</div>
                  </div>
                </div>
                <button type="button" [popover]="stateState" triggers="mouseenter:mouseleave" class="pop-over" data-container="body" data-toggle="tooltip"
                  data-placement="top" popoverTitle="Help">?</button>
                <ng-template #stateState>
                  <ul>
                    <li> Registered State is required.</li>
                    <li>Select State.</li>
                  </ul>
                </ng-template>
              </div>
              <!--<div class="col-md-6">
 <div class="form-group">
 <label for="Start Effective Date">Start Effective Date</label>
 <div class="input-group">-->
              <!-- <input type="text" class="form-control" id="startDate" name="startDate" formControlName="startDate"> -->
              <!--<owl-date-time [(ngModel)]="startDate" class="form-control" id="startDate" [dateFormat]="'MM/DD/YYYY HH:mm:ss'" [showSecondsTimer]="true"
 [placeHolder]="'MM/DD/YYYY HH:MM:SS'" formControlName="startDate"></owl-date-time>-->
              <!--<my-date-picker name="startDate" [options]="myDatePickerOptions" id="startDate" formControlName="startDate" placeholder="MM/DD/YYYY"
 (inputFieldChanged)='onDateRangeFieldChangedStartDate($event)'></my-date-picker>
 <div class="msg" style="color:red" *ngIf="invalidStartDate">
 Invalid Date Range.
 </div>
 <owl-date-time [type]="'timer'" [dateFormat]="'hh:mm:ss'" [placeHolder]="'hh:mm:ss'" [showSecondsTimer]="true" formControlName="startTime"></owl-date-time>
 <div class="input-group-addon">
 <button type="button" [popover]="popstartDate" triggers="mouseenter:mouseleave" class="pop-over" data-container="body" data-toggle="tooltip"
 data-placement="top" popoverTitle="Help">?</button>
 <ng-template #popstartDate>
 <ul>
 <li> Select Start Effective Date.</li>

 </ul>
 </ng-template>
 </div>
 </div>
 </div>
 </div>
 <div class="col-md-6">
 <div class="form-group">
 <label for="Start Effective Date">End Effective Date</label>
 <div class="input-group">-->
              <!-- <input type="text" class="form-control" id="endDate" name="endDate" formControlName="endDate"> -->
              <!--<owl-date-time id="endDate" class="form-control" [dateFormat]="'MM/DD/YYYY HH:mm:ss'" [showSecondsTimer]="true" [placeHolder]="'MM/DD/YYYY HH:MM:SS'"
 formControlName="endDate"></owl-date-time>-->
              <!--<my-date-picker name="endDate" [options]="myDatePickerOptions" id="endDate" formControlName="endDate" placeholder="MM/DD/YYYY"
 (inputFieldChanged)='onDateRangeFieldChangedEndDate($event)'></my-date-picker>
 <div class="msg" style="color:red" *ngIf="invalidEndDate">
 Invalid Date Range.
 </div>
 <owl-date-time [type]="'timer'" [dateFormat]="'hh:mm:ss'" [placeHolder]="'hh:mm:ss'" [showSecondsTimer]="true" formControlName="endTime"></owl-date-time>
 <div class="input-group-addon">
 <button type="button" [popover]="popstartEndDate" triggers="mouseenter:mouseleave" class="pop-over" data-container="body"
 data-toggle="tooltip" data-placement="top" popoverTitle="Help">?</button>
 <ng-template #popstartEndDate>
 <ul>
 <li> Select End Effective Date.</li>

 </ul>
 </ng-template>
 </div>
 </div>
 </div>
 </div>-->
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <label for="Start Effective Date" id="focused">Start Effective Date</label>
                    <!--<label *ngIf="dateError" style="color:red;">Invalid date </label>-->
                    <!--<my-date-picker name="mystartdate" [options]="myDatePickerOptions" formControlName="startDate" (inputFieldChanged)='onInputFieldRangeChanged($event)'></my-date-picker>
 <div class="msg2" *ngIf="isStartDateEmpty">
 <div>Required</div>
 </div>-->
                    <div class="show-error" *ngIf="invalidStartDate">
                      <div> Invalid Date</div>
                    </div>
                    <my-date-picker name="startDate" [options]="myStartDatePickerOptions" id="startDate" formControlName="startDate" placeholder="MM/DD/YYYY"
                      (inputFieldChanged)='onDateRangeFieldChangedStartDate($event)'></my-date-picker>
                    <!--<div class="msg" style="color:red" *ngIf="invalidStartDate">
 Invalid Date
 </div>-->
                  </div>
                  <!--<div class="col-md-5">
 <div><label> Time </label></div>
 <owl-date-time [type]="'timer'" [dateFormat]="'hh:mm:ss'" [placeHolder]="'hh:mm:ss'" [showSecondsTimer]="true" formControlName="startTime"></owl-date-time>
 </div>-->
                  <div class="col-md-6 form-group popover-field">
                    <label class="focused"> Time </label>
                    <owl-date-time [type]="'timer'" [dateFormat]="'HH:mm:ss'" [placeHolder]="'hh:mm:ss'" [showSecondsTimer]="true" formControlName="startTime"
                      class="form-control" [(ngModel)]="startTime"></owl-date-time>
                    <button type="button" [popover]="popstartDate" triggers="mouseenter:mouseleave" class="pop-over" data-container="body" data-toggle="tooltip"
                      data-placement="left" popoverTitle="Help">?</button>
                    <ng-template #popstartDate>
                      <ul>
                        <li> Select Start Effective Date.</li>
                      </ul>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <label for="End Effective Date" id="focused">End Effective Date</label>
                    <!-- <input type="text" class="form-control" id="endDate" name="endDate" formControlName="endDate"> -->
                    <!--<owl-date-time id="endDate" class="form-control" (onSelect)="isEndDateEmpty=false" [dateFormat]="'MM/DD/YYYY HH:mm:ss'" [showSecondsTimer]="true" [placeHolder]="'MM/DD/YYYY HH:MM:SS'"
 formControlName="endDate"></owl-date-time>-->
                    <div class="show-error" *ngIf="invalidEndDate">
                      <div> Invalid Date</div>
                    </div>
                    <my-date-picker name="endDate" [options]="myEndDatePickerOptions" id="endDate" formControlName="endDate" placeholder="MM/DD/YYYY"
                      (inputFieldChanged)='onDateRangeFieldChangedEndDate($event)'></my-date-picker>
                    <!--<div class="msg" style="color:red" *ngIf="invalidEndDate">
 Invalid Date
 </div>-->
                  </div>
                  <div class="col-md-6 form-group popover-field">
                    <label class="focused"> Time </label>
                    <owl-date-time [type]="'timer'" [dateFormat]="'HH:mm:ss'" [placeHolder]="'hh:mm:ss'" [showSecondsTimer]="true" formControlName="endTime"
                      class="form-control" [(ngModel)]="endTime"></owl-date-time>
                    <button type="button" [popover]="popstartEndDate" triggers="mouseenter:mouseleave" class="pop-over" data-container="body"
                      data-toggle="tooltip" data-placement="left" popoverTitle="Help">?</button>
                    <ng-template #popstartEndDate>
                      <ul>
                        <li> Select End Effective Date.</li>
                      </ul>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6 popover-field">
                <label for="Contractual Type" class="focused">Contractual Type</label>
                <select class="form-control" placeholder="Registered State" id="pltContractual" name="pltContractual" formControlName="pltContractual">
 <option selected="selected" value="">--Select--</option>
 <option *ngFor="let cotracType of contarctualType" value="{{cotracType.Value}}">{{cotracType.Key}}</option>
 </select>
                <!-- <div class="msg" *ngIf="addVehicleForm.controls['pltContractual'].hasError('required')" >

 <div>Contractual Type is required</div>
 </div> -->
                <button type="button" [popover]="popCottype" triggers="mouseenter:mouseleave" class="pop-over" data-container="body" data-toggle="tooltip"
                  data-placement="top" popoverTitle="Help">?</button>
                <ng-template #popCottype>
                  <ul>
                    <li> Select Contractual Type.</li>
                  </ul>
                </ng-template>
              </div>
              <div class="col-md-6">
                <div class="form-group checkbox" style="margin-top: 28px">
                  <input type="checkbox" id="pltIsTempplate" name="pltIsTempplate" formControlName="pltIsTempplate">
                  <label for="pltIsTempplate"><span></span> Is Temporary Licence Plate #</label>
                </div>
              </div>
              <div class="col-md-12 text-right">
                <button type="submit" (click)="resetForm()" class="btn btn-default btn-reset">Reset</button>
                <button type="submit" (click)="cancleclick()" class="btn btn-default btn-reset">Cancel</button>
                <button type="submit" (click)="addVehicle(true)" class="btn btn-primary btn-search">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--vehicle child grid-->
  <div class="panel panel-default" *ngIf='childVehicle && childVehicle.length>0'>

    <div class="panel-heading">
      Customer Vehicle(s)
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Move</th>
            <th>Plate #</th>
            <th>Class</th>
            <th>State</th>
            <th>Description</th>
            <th>Color</th>
            <th>Country</th>
            <th>Start Date Time</th>
            <th>End Date Time</th>
            <th></th>
            <!--<td></td>-->
          </tr>
        </thead>
        <tbody>
          <!--<tr *ngFor="let vehicle of childVehicle | paginate: { itemsPerPage: cpageItemNumber, currentPage: ccurrentPage }">-->
          <tr *ngFor="let vehicle of childVehicle">
            <td>
              <div class="checkbox">
                <input type="checkbox" id="{{vehicle.VehicleNumber}}" (change)="transferMoveVehicle($event.target.checked,vehicle)" />
                <label for="{{vehicle.VehicleNumber}}"><span></span></label></div>
            </td>
            <td> {{vehicle.VehicleNumber}} </td>
            <td> {{vehicle.VehicleClassDesc}} </td>
            <td> {{vehicle.State}} </td>
            <td> {{vehicle.VehicleDescription}} </td>
            <td> {{vehicle.Color}} </td>
            <td> {{vehicle.Country}} </td>
            <td> {{vehicle.StartEffectiveDate | customDateTimeFormat}} </td>
            <td> {{vehicle.EndEffectiveDate | customDateTimeFormat}} </td>
            <td>
              <button (click)="onEditClicked(vehicle)" class="btn btn-default">Edit</button>
            </td>
            <!--<td>
 <button (click)="onDeleteClicked(vehicle)">Delete</button>
 </td>-->
          </tr>
        </tbody>
      </table>
      <!--<div class="row page-info" *ngIf="childVehicle && childVehicle.length>9">
 <div class="col-md-6 text-left">
 <p>Display {{cstartItemNumber}} - {{cendItemNumber}} Records of {{cdataLength}}</p>
 </div>
 <div class="col-md-6 text-right">
 <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
 </div>
 </div>-->
      <button *ngIf='childVehicle && childVehicle.length>0' (click)="moveVehiclesChild()" class="btn btn-default btn-search">Revert Back</button>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <a href='javascript:;' class="btn btn-primary btn-search" type="submit" (click)="onPrevious()">Plan Selection</a>
      <button class="btn btn-primary btn-search" type="submit" (click)="onSubmit()">Payment</button>
      <button class="btn btn-primary btn-reset" type="submit" (click)="onCancel()">Cancel</button>
    </div>
  </div>
  <div class="clear"> </div>
</div>
<app-blocked-list [blockListArray]="blockListDetails" (status)="addorEditVehicle()"></app-blocked-list>