<div id="termsconditions-dialog" class="modal fade refund-request-modal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-m-0">
      <div class="modal-header acc-bg" >
        <strong>Account Agreement</strong>
        <button type="button" class="close closebtn" data-dismiss="modal">&times;</button></div>
      <div class=" model-body row">
        <div class="col-md-12">
            <div class="termscontent">
              <!--<div class="acc-bg"><strong>Account Agreement</strong>
                <button type="button" class="close closebtn" data-dismiss="modal">&times;</button>
              </div>-->
              <div>
                <h3><strong class="p-l-15">TOLLPLUS Tollroad online terms and conditions :</strong></h3>
              </div>
              <div>
                <h3 class="p-l-15">Welcome to TOLLPLUS ,</h3>
              </div>
              <div >
                <ol type="1">
                  <li>These general terms and conditions of use apply to all users of the TOLLPLUS Tollroad website.</li>
                  <li>All reasonable measures have been taken to ensure the quality and accuracy of the information provided
                    on this website. However, TOLLPLUS Tollroad:</li>
                  <ul>
                    <li>may change information contained on this website (including these terms and conditions and the privacy
                      policy) without notice and by continuing to access this website, you agree to be bound by the amendments
                      and
                    </li>
                    <li>is not responsible for the content of other websites linked to or referenced from this website. TOLLPLUS
                      Tollroad neither endorses the information, content, presentation, or accuracy of such other websites,
                      nor makes any warranty, express or implied, regarding these other websites.</li>
                  </ul>
                  <li>TOLLPLUS Tollroad excludes all responsibility or liability in relation to the website and TOLLPLUS Tollroad
                    will not be responsible for errors or misstatements or be liable, whether in contract, tort (including
                    negligence or (to the extent permitted by law) breach of statutory duty) or otherwise for any loss or
                    damage however caused (including direct, indirect, consequential, special or loss of profits).</li>
                  <li>Each page on this website must be read in conjunction with this disclaimer and any other disclaimer that
                    forms part of the page or website.</li>
                  <li>TOLLPLUS Tollroad does not warrant or represent that this service is free from any virus, contamination
                    or defect and will not be liable for any loss or damage you may incur as a result of using this online
                    service.
                  </li>
                  <li>If you enter incomplete or incorrect information as part of the TOLLPLUS Tollroad Account Registration
                    process, you will not be permitted to proceed with your application.</li>
                </ol>
                <div>
                  <h5 class="p-l-15">Last updated on:<span class="lastdate"> <strong>1 January 2017</strong></span></h5>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>