<div class="page-title-header">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li>
          <a>SAC</a>
        </li>
        <li>
          <a>Configuration</a>
        </li>
        <li class="active">Audit Log Features Configuration</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Audit Log Features Configuration</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <app-success-failure-alerts-message [messageFlag]='msgFlag' [msgType]='msgType' [msgTitle]='msgTitle' [msgDesc]='msgDesc'
        (setFlag)="setOutputFlag($event)"></app-success-failure-alerts-message>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body bordered">
      <div class="row">
        <div class="col-md-12 m-t-20 m-b-10">
          <form role="form" name="searchByAccessLevels" [formGroup]="searchByAccessLevels" novalidate>
            <div class="col-md-6">
              <label class="display-inline" style="padding-right: 10px; font-weight: 500; font-size: 14px; padding-right: 20px; color: #66afe9;"> Search Activities By : </label>
              <ul>
                <li *ngFor="let role of accessLevels;  let idx = index" class="transaction custom-control custom-radio radio-inline">
                  <input type="radio" id="{{role.value}}" class="custom-control-input" name="searchByRadio" [checked]="idx === 0" (change)="onSelectionAccessLevel(role, idx)"
                    value={{role.value}} formControlName="searchByRadio" [(ngModel)]="auditLevel">
                  <label for="{{role.value}}" class="custom-control-discription">{{role.value}}</label>
                </li>
              </ul>
            </div>
            <div class="form-group col-md-6">
              <label class="focused" style="padding-right: 10px; font-weight: 500; font-size: 14px; padding-right: 20px;"> Sub System </label>
              <select class="form-control" formControlName="subSystem" [(ngModel)]="subSystemValue" (change)="changeSubSystem($event)"> 
                <option value="All">--Select All--</option>
                <option *ngFor='let branch of branches' [value]="branch.SiteName"> {{branch.SiteName}}</option>
                <option value="IOP" *ngIf="auditLevel === 'System'">IOP</option>
                <option value="SQL" *ngIf="auditLevel === 'System'">SQL</option>
                <option value="IVR" *ngIf="auditLevel === 'System'">IVR</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="table-responsive">
      <div class="panel panel-default" id="privileges">
        <div class="panel-heading"> Privileges Details </div>
        <table class="table privilege-table-fixed" *ngIf="privileges">
          <thead>
            <tr>
              <th class="col-xs-4">Feature Name</th>
              <th class="col-xs-4 text-center">Subsystem</th>
              <th class="col-xs-4 checkbox">
                <input type="checkbox" [(ngModel)]="selectedAll" id="checkAll" value="" (change)="selectAllTransActivity();">
                <label for="checkAll"><span></span>Check All </label>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let featureList of featureLists; let i = index">
              <td class="col-xs-4">{{featureList.DisplayName}}</td>
              <td class="col-xs-4 text-center">{{featureList.SubSystem}}</td>
              <!--<td>{{featureList.IsActive}}</td>-->
              <td class="col-xs-4 checkbox">
                <input id="{{featureList.FeatureId}}" (change)="checkIfAllTransSelected(featureList)" [(ngModel)]="featureList.IsAllowAudit"
                  type="checkbox">
                <label for="{{featureList.FeatureId}}"> <span></span></label>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf='!privileges'>
          <div class="status-content">
            <p class="alert alert-info"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> No records to display</p>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group pull-right">
          <form role="form" name="addAddressForm" novalidate>
            <button type="button" [disabled]="disableUpdateButton" (click)="updateAuditLog()" class="btn btn-primary btn-search">Update</button>
            <button type="submit" class="btn btn-primary btn-reset" (click)="resetAuditLog()">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>