<div class="page-title-header">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li>
          <a href="#">SAC</a>
        </li>
        <li>
          <a href="#">Configuration</a>
        </li>
        <li class="active">Helpdesk Managers Email Settings</li>
      </ol>
    </div>
  </div>
</div>
<form role="form" name="hdmanager" [formGroup]="hdmanager">
  <div class="content">
    <app-success-failure-alerts-message [messageFlag]='msgFlag' [msgType]='msgType' [msgDesc]='msgDesc' (setFlag)="setOutputFlag($event)"></app-success-failure-alerts-message>
    <div class="panel panel-default">
      <div class="panel-heading">Help Desk Managers Email Settings</div>
      <div class="panel-body bordered">
        <div class="row">
          <div class="form-group col-md-6">
            <label class="focused">Department Name</label>
           
              <select class="form-control" formControlName="department" name="department">
                <option value='CSC' [selected]="'Customer Service Center'">Customer Service Center</option>
                <option value='TVC'>Toll Violation Center</option>
                <!-- <option selected="selected" value="">--Select--</option>
                <option *ngFor="let dept of department" value="{{dept.key}}">{{dept.value}}</option> -->
              </select>
           </div>
           <div class=" form-group col-md-6">
            <button type="submit" [disabled]="disableUButton" (click)="searchClick()" class="btn btn-Primary btn-search">Search</button>
           </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default" *ngIf="isUpdate">
      <div class="panel-heading">Manage Helpdesk Managers Details</div>
      <div class="panel-body bordered">
        <div class="*form-horizontal">
          <div class="form-group col-sm-6">
            <label class="focused">Problem Type</label>
              <select class="form-control" formControlName="problemtype" name="problemtype">
                <option *ngFor='let p of managerDetails' value="{{p.ProblemType}}">{{p.ProblemType}}</option>
              </select>
          </div>
          <div class="form-group col-sm-6">
            <label class="focused">Manager Name</label>
              <input type="text" class="form-control" formControlName="managername" name="managername">
              <div class="msg" *ngIf="hdmanager.controls['managername'].invalid && (hdmanager.controls['managername'].dirty || hdmanager.controls['managername'].touched)">
                <div *ngIf="hdmanager.controls['managername'].errors.required">
                  Required.
              </div>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label class="">E-Mail Address</label>
              <input type="text" class="form-control" formControlName="email" name="email">
              <div class="msg" *ngIf="hdmanager.controls['email'].invalid && (hdmanager.controls['email'].dirty || hdmanager.controls['email'].touched)">
                <div *ngIf="hdmanager.controls['email'].errors.required">
                  Required.
                </div>
                <div *ngIf="hdmanager.controls['email'].errors.pattern">
                  Invalid Email format.
                </div>
              </div>
          </div>
          <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
              <button class="btn btn-default btn-search" (click)='updateClick()'>Update</button>
              <button class="btn btn-default btn-reset" (click)="reset()">Reset</button>
              <button class="btn btn-default btn-reset" (click)="closeDiv()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Manage Helpdesk Managers Details</div>
      <div class="panel-body">
        <div class="table-responsive">
          <div *ngIf='managerDetails && managerDetails.length;else NodetailsBlock'>
            <table class="table">
              <thead>
                <tr>
                  <th>Department Name </th>
                  <th>Problem Type</th>
                  <th>Manager Name</th>
                  <th>E-Mail Address</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of managerDetails">
                  <td>{{item.SubSystem}}</td>
                  <td>{{item.ProblemType}}</td>
                  <td>{{item.ManagerName}}</td>
                  <td>{{item.EmailAddress}}</td>
                  <td>
                    <img src="assets/images/svg/edit.svg" (click)='onEditClick(item)' class="icon-svg3">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <ng-template #NodetailsBlock>
          <div class="alert alert-info " role="alert ">No details to display</div>
        </ng-template>
      </div>
    </div>
  </div>
</form>