<div class="page-title-header">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li>
          <a href="#">SAC</a>
        </li>
        <li>
          <a href="#">Agency Setup</a>
        </li>
        <li class="active">Manage Plazas</li>
      </ol>
    </div>
    <div class="col-md-12">
      <div class="page-header">
        <h1>Manage Plazas</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <form name="plazaForm" [formGroup]="plazaForm" role="form">
    <div class="table-bdr">
      <div class="panel-body">
        <div class="col-md-6">
          <div class="form-group col-md-12 popover-field">
            <label class="focused"> Agency </label>
            <select class="form-control" formControlName="agency" name="agency">
              <option selected='selected' value="">--Select--</option>
              <option *ngFor="let agency of agencys" value="{{agency.AgencyCode}}">{{agency.AgencyName}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group col-md-12 popover-field">
            <label class="focused"> Location </label>
            <select class="form-control" formControlName="location" name="location">
              <option selected='selected' value="">--Select--</option>
              <option *ngFor="let loc of locations" value="{{loc.LocationCode}}">{{loc.LocationName}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group col-md-12 popover-field">
            <label> Plaza Code </label>
            <div class="popover-field">
              <input type="text" class="form-control" placeholder="Plaza Code" pattern="^[a-zA-Z]*" maxlength="10" formControlName="plazaCode"
                name="plazaCode">
              <div class="msg" *ngIf="plazaForm.controls['plazaCode'].invalid && (plazaForm.controls['plazaCode'].dirty || plazaForm.controls['plazaCode'].touched)">
                <div *ngIf="plazaForm.controls['plazaCode'].errors.pattern">
                  Only alphabets are allowed !
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group col-md-12 popover-field">
            <label> Plaza Name </label>
            <div class="popover-field">
              <input type="text" class="form-control" placeholder="Plaza Name" pattern="^[\sa-zA-Z]+$" maxlength="50" formControlName="plazaName"
                name="plazaName">
              <div class="msg" *ngIf="plazaForm.controls['plazaName'].invalid && (plazaForm.controls['plazaName'].dirty || plazaForm.controls['plazaName'].touched)">
                <div *ngIf="plazaForm.controls['plazaName'].errors.pattern">
                  Only alphabets and spaces are allowed !
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <button [disabled]="isDisabledSearch" class="btn btn-default btn-search" (click)="serachPlazas();">
              Search
            </button>
            <button class="btn btn-default btn-reset" (click)="resetClick();">
              Reset
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!--manage plaza add button-->
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <a [ngClass]="isDisabledAdd?'disabletextbox':''" (click)="createPlazas();">
          <i class="fa fa-plus-square-o fa-lg fa-fw" aria-hidden="true"></i> Add New Plaza </a>
      </div>
    </div>
  </div>
  <div *ngIf="plazaResponse && plazaResponse.length">
    <!--manage plaza grid-->
    <div class="table-bdr">
      <h3>
        Plaza Details
      </h3>
      <div class="panel-body">
        <table class="table bordered">
          <thead>
            <tr>
              <th (click)="sortDirection('PLAZACODE')" class="sorting-handle"> Plaza Code 
                  <span *ngIf="gridArrowPLAZACODE">
                      <i class="fa fa-fw fa-lg" aria-hidden="true" [ngClass]='{"fa-sort-amount-asc":sortingDirection,"fa-sort-amount-desc":!sortingDirection}'></i>
                    </span>
              </th>
              <th (click)="sortDirection('PLAZANAME')" class="sorting-handle"> Plaza Name 
                  <span *ngIf="gridArrowPLAZANAME">
                      <i class="fa fa-fw fa-lg" aria-hidden="true" [ngClass]='{"fa-sort-amount-asc":sortingDirection,"fa-sort-amount-desc":!sortingDirection}'></i>
                    </span>
              </th>
              <th> Plaza Description 
              </th>
              <th (click)="sortDirection('PRICEMODE')" class="sorting-handle"> Price Mode 
                  <span *ngIf="gridArrowPRICEMODE">
                      <i class="fa fa-fw fa-lg" aria-hidden="true" [ngClass]='{"fa-sort-amount-asc":sortingDirection,"fa-sort-amount-desc":!sortingDirection}'></i>
                    </span>
              </th>
              <th (click)="sortDirection('LOCATIONNAME')" class="sorting-handle"> Location 
                  <span *ngIf="gridArrowLOCATIONNAME">
                      <i class="fa fa-fw fa-lg" aria-hidden="true" [ngClass]='{"fa-sort-amount-asc":sortingDirection,"fa-sort-amount-desc":!sortingDirection}'></i>
                    </span>
              </th>
              <th (click)="sortDirection('AGENCYNAME')" class="sorting-handle"> Agency 
                  <span *ngIf="gridArrowAGENCYNAME">
                      <i class="fa fa-fw fa-lg" aria-hidden="true" [ngClass]='{"fa-sort-amount-asc":sortingDirection,"fa-sort-amount-desc":!sortingDirection}'></i>
                    </span>
              </th>
              <th> Is Owned </th>
              <th> Is Non Revenue </th>
              <th> Edit </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let res of plazaResponse| paginate: { itemsPerPage: pageItemNumber, currentPage: p, totalItems: dataLength }">
              <td> {{res.PlazaCode}} </td>
              <td> {{res.PlazaName}}</td>
              <td> {{res.Description}}</td>
              <td> {{res.PriceMode=='P'?"POINT BASED": (res.PriceMode=='D'?"DISTANCE BASED":(res.PriceMode=='C'?"CUSTOM BASED":res.PriceMode))}}
              </td>
              <td>{{res.LocationName}} </td>
              <td> {{res.AgencyCode}}</td>
              <td>{{res.isOwned?'Yes':'No'}}</td>
              <td>{{res.isNonRevenue?'Yes':'No'}}</td>
              <td>
                <a title="Edit" [ngClass]="isDisabledUpdate?'disabletextbox':''" (click)="editClick(res.PlazaId);">
                  <i class="fa fa-pencil-square fa-2x"> </i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row page-info">
      <div class="col-md-6 text-left">
        <p>Display {{startItemNumber}} - {{endItemNumber}} Records of {{dataLength}}</p>
      </div>
      <div class="col-md-6 text-right">
        <pagination-controls (pageChange)="plazaDetailsPageChanged($event)"></pagination-controls>
      </div>
    </div>
  </div>
  <div class="row m-t-20" *ngIf='!plazaResponse || plazaResponse.length==0'>
    <div class="col-md-12">
      <div class="table-bdr">
        <h3> Plaza Details</h3>
        <div class="status-content pad-20">
          No records to display
        </div>
      </div>
    </div>
  </div>
</div>
<app-success-failure-alerts-message [messageFlag]='msgFlag' [msgType]='msgType' [msgDesc]='msgDesc' (setFlag)="setOutputFlag($event)"></app-success-failure-alerts-message>