<!--<div class="page-title-header">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#">IMC</a></li>
        <li class="active">Location Distribution</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Location Distribution</h1>
      </div>
    </div>
  </div>
</div>-->
<!--<input type="text" class="form-control" placeholder="tag protocall" />-->
  <form role="form" name="distributionForm" [formGroup]="distributionForm">
    <div class="row">
        <div class="col-md-6">
          <div class="col-md-12 form-group popover-field">
            <label class="focused">Protocal</label>
                <input type="text" class="form-control" name="protocol" placeholder="Protocol" [(ngModel)]="protocol" formControlName='protocol'>
                 <div class="msg" *ngIf="distributionForm.controls['protocol'].invalid && (distributionForm.controls['protocol'].dirty || distributionForm.controls['protocol'].touched)">
                <div *ngIf="distributionForm.controls['protocol'].errors.required">
                  *Required.
                </div>
              </div>
                <ng-template #popContent>
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Protocal is Required<br>                  

                </ng-template>
                <button type="button" class="pop-over" [popover]="popContent" data-container="body" popoverTitle="Help" placement="left"
                  triggers="mouseenter:mouseleave">
                      <i class="fa fa-question" aria-hidden="true"></i></button>
              <!--<select class="form-control"> 
             <option> Option 1 </option>
             <option> Option 2 </option>
             <option> Option 3 </option>
           </select>-->
              
          </div>
        </div>

        <div class="col-md-6">
          <div class="col-md-12 form-group popover-field">
            <label class="focused"> Mounting </label>
              <input type="text" class="form-control" name="mounting" placeholder="Mounting" [(ngModel)]="mounting" formControlName='mounting'>
              <!--<select class="form-control"> 
             <option> Option 1 </option>
             <option> Option 2 </option>
             <option> Option 3 </option>
           </select>-->
              <div class="msg" *ngIf="distributionForm.controls['mounting'].invalid && (distributionForm.controls['mounting'].dirty || distributionForm.controls['mounting'].touched)">
                <div *ngIf="distributionForm.controls['mounting'].errors.required">
                  *Required.
                </div>
              </div>
                <ng-template #popContent1>
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Mounting is Required<br>                

                </ng-template>
                <button type="button" class="pop-over" [popover]="popContent1" data-container="body" popoverTitle="Help" placement="left"
                  triggers="mouseenter:mouseleave">
                      <i class="fa fa-question" aria-hidden="true"></i></button>
          </div>
        </div>


        <div class="col-md-6">
          <div class="col-md-12 form-group popover-field">
            <label>Starting Serial Number </label>
              <!--<input type="text" class="form-control" placeholder="Starting Serial Number" />-->
              <input type="text" class="form-control" placeholder="Serial #" formControlName="startRange" (change)="checkStartRange($event.target.value)"
                maxlength="13">             
              <!--<ng-template #pop222>
                <ul>
                  <li>Serial # is mandatory</li>
                  <li>It allows only numbers</li>
                </ul>
              </ng-template>-->
               <div class="msg" *ngIf="distributionForm.controls['startRange'].invalid && (distributionForm.controls['startRange'].dirty || distributionForm.controls['startRange'].touched)">
                <div *ngIf="distributionForm.controls['startRange'].errors.required">
                  *Required.
                </div>
              </div>
                <ng-template #popContent2>
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Enter Starting Serial Number<br>
                  
                </ng-template>
                <button type="button" class="pop-over" [popover]="popContent2" data-container="body" popoverTitle="Help" placement="left"
                  triggers="mouseenter:mouseleave">
                      <i class="fa fa-question" aria-hidden="true"></i></button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12 form-group popover-field">
            <label> No.of Tags </label>
              <!--<input type="text" class="form-control" placeholder="No.of Tags" />-->
              <input type="text" class="form-control" placeholder="Quantity" formControlName="quantity" (change)="onQuantityChange($event.target.value)"
                maxlength="6">
             
              <div class="msg" *ngIf="distributionForm.controls['quantity'].invalid && (distributionForm.controls['quantity'].dirty || distributionForm.controls['quantity'].touched)">
                <div *ngIf="distributionForm.controls['quantity'].errors.required">
                  *Required.
                </div>
                 <div *ngIf="distributionForm.controls['quantity'].errors.pattern">
                      Only numeric values allowed
                    </div>
                    <div *ngIf="distributionForm.controls['quantity'].errors.maxlength">
                      Maximum 3 characters are allowed.
                    </div>
              </div>
                <ng-template #popContent3>
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> No.of Tags  is Required<br>
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Only numeric values allowed <br>
                   <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>   Maximum 3 characters are allowed. <br>

                </ng-template>
                <button type="button" class="pop-over" [popover]="popContent3" data-container="body" popoverTitle="Help" placement="left"
                  triggers="mouseenter:mouseleave">
                      <i class="fa fa-question" aria-hidden="true"></i></button>
                      </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12 form-group popover-field">
            <label>Ending Serial Number</label>
              <input type="text" class="form-control" placeholder="Ending Serial Number" formControlName="endrange" />
               <div class="msg" *ngIf="distributionForm.controls['endrange'].invalid && (distributionForm.controls['endrange'].dirty || distributionForm.controls['endrange'].touched)">
                <div *ngIf="distributionForm.controls['endrange'].errors.required">
                  *Required.
                </div>
              </div>
                <ng-template #popContent4>
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Ending Serial Number is Required<br>
                  

                </ng-template>
                <button type="button" class="pop-over" [popover]="popContent4" data-container="body" popoverTitle="Help" placement="left"
                  triggers="mouseenter:mouseleave">
                      <i class="fa fa-question" aria-hidden="true"></i></button>
          </div>
        </div>

        <div class="col-md-6">
          <div class="col-md-12 form-group popover-field">
            <label class="focused"> Location </label>
             <select class="form-control" name="location" formControlName="location" required [(ngModel)]='selectedItem'>
                <!--<option selected="selected"  value="">--Select--</option>-->
                 <option selected="selected" *ngFor='let dropdown of dropdownResponse' [value]="dropdown.LocationId" >{{dropdown.LocationName}}</option>
                      </select>
             <div class="msg" *ngIf="distributionForm.controls['location'].invalid && (distributionForm.controls['location'].dirty || distributionForm.controls['location'].touched)">
                <div *ngIf="distributionForm.controls['location'].errors.required">
                  *Required.
                </div>
              </div>
                <ng-template #popContent5>
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Location is Required<br>                

                </ng-template>
                <button type="button" class="pop-over" [popover]="popContent5" data-container="body" popoverTitle="Help" placement="left"
                  triggers="mouseenter:mouseleave">
                      <i class="fa fa-question" aria-hidden="true"></i></button>
          </div>
        </div>

        <div class="col-md-12">
          <button class="btn btn-default btn-search" [ngClass]="{'disabletextbox': disableUpddateButton}" (click)="onDistributionClick()"> 
              Distribute
        </button>
          <button class="btn btn-default btn-reset" (click)='cancelDistribution()'> 
              Cancel
        </button>
        </div>
    </div>
  </form>
<app-success-failure-alerts-message [messageFlag]='msgFlag' [msgType]='msgType' [msgDesc]='msgDesc' (setFlag)="setOutputFlag($event, 1000)" (onOk)="userAction($event)"></app-success-failure-alerts-message>