<div class="container wow slideInDown">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <img src="assets/images/LoginLogo.png" alt="">
        </div>
        <div class="panel-body">
          <form role="form" name="forgotPasswordForm" [formGroup]="forgotPasswordForm">
            <div class="row">
              <div class="col-sm-12 login-error-msg">
                <span *ngIf="errorBlock">{{errorMessage}}</span>
                <span style="color: green;" *ngIf="successBlock">{{successMessage}}</span>
              </div>
              <div class="col-sm-12 form-group">
                <label for="UserName"> Username</label>
                <input class="form-control" placeholder="UserName" formControlName="username" />
                <div class="msg" *ngIf="forgotPasswordForm.controls['username'].invalid">
                  <div *ngIf="forgotPasswordForm.controls['username'].errors.pattern">Enter valid Username</div>
                </div>
              </div>
              <div class="text-center">(OR)</div>
              <div class="col-sm-12 form-group">
                <label for="exampleInputPassword1"> Email Address</label>
                <input class="form-control" placeholder="Email Address" formControlName="email" />
                <div class="msg" *ngIf="forgotPasswordForm.controls['email'].invalid">
                  <div *ngIf="forgotPasswordForm.controls['email'].errors.pattern">Invalid Format</div>
                </div>
              </div>
              <div class="col-sm-12">
                <a (click)="login()">Login</a>
                <input type="submit" class="btn btn-primary btn-search pull-right" (click)="getPassword()" value="Get Password" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>