<div class="page-title-header">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li>
          <a href="#">TVC</a>
        </li>
        <li>
          <a href="#">Disputes</a>
        </li>
        <li class="active">Violation Transfer</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Violation Transfer</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="row m-b-10">
    <div class="col-md-12 text-right">
      <span id="" class="accno">Account #:{{violatorID}}</span>
      <button class="btn btn-default  btn-search" type="button" (click)='backClick()'>Back</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <app-success-failure-alerts-message [messageFlag]='msgFlag' [msgType]='msgType' [msgDesc]='msgDesc' (setFlag)="setOutputFlag($event)"></app-success-failure-alerts-message>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <span class="cust-label">Click here to go</span>
      <div class="links">
        <a [routerLink]="['/tvc/search/violation-search']" title="Account Search">Account Search</a>
        <a [routerLink]="['/tvc/violatordetails/violator-summary']" title="Account Summary">Account Summary</a>
      </div>
    </div>
  </div>
</div>