<div class="page-title-header">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#">CSC</a></li>
        <li><a href="#">Customer Service</a></li>
        <li class="active">Account Flags</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Account Flags</h1>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <!--Account infromation shared component-->
  <app-account-info></app-account-info>
  <div class="row">
    <form role="form" name="accountFlagsForm" [formGroup]="accountFlagsForm" (ngSubmit)="saveAccountFlags()">
      <div class="col-md-12">

        <app-success-failure-alerts-message [messageFlag]='msgFlag' [msgType]='msgType' [msgDesc]='msgDesc' (setFlag)="setOutputFlag($event)"></app-success-failure-alerts-message>

        <div class="panel panel-default">
          <div class="panel-heading"> Account Flags </div>
          <div class="panel-body bordered">
            <div class="row">
              <div class="col-md-6 form-group">
                  <label class="focused">Language Preference </label>
                  <select class="form-control" id="languagePreference" [(ngModel)]="preferedLanguange" name="languagePreference" formControlName="languagePreference">
                          <option value="">--Select--</option>
                          <option *ngFor="let languages of dropDownDataResults" value="{{languages.LookUpTypeCodeDesc}}" >
                              {{languages.LookUpTypeCodeDesc}}
                          </option>
                  </select>
               
              </div>
            </div>

          
              <div class="checkbox-inline checkbox">
                <input type="checkbox" [(ngModel)]="isHearingImpirement" [checked]="accountFlagsResponse && accountFlagsResponse.IsHearingImpirement"
                  id="hearingImpairment" name="hearingImpairment" formControlName="hearingImpairment">
                <label for="hearingImpairment">  <span></span>   Hearing Impairment
                              </label>

              </div>
           
          
              <div class="checkbox-inline checkbox">

                <input type="checkbox" [(ngModel)]="isFrequentCaller" [checked]="accountFlagsResponse && accountFlagsResponse.ISFrequentCaller"
                  id="frequentCaller" name="frequentCaller" formControlName="frequentCaller">
                <label for="frequentCaller"><span></span>  Frequent Caller   </label>

              </div>
          
            

<div class="checkbox-inline checkbox">
 
<input type="checkbox" [(ngModel)]="isSupervisor" [checked]="accountFlagsResponse && accountFlagsResponse.IsSupervisor" 
id="specialHandling" name="specialHandling" formControlName="specialHandling"> 
<label for="specialHandling" [hidden]='!isAdminRole'><span></span>Special Handling 
</label>

<!--<label for="specialHandling"  [hidden]=!'isAdminRole'> 
Special Handling 
</label>-->
</div>

            <!--for non revenue-->
            <div  *ngIf="customerInformationres && customerInformationres.RevenueCategory == 'NonRevenue'">
              <div class="checkbox-inline checkbox">
                <input type="checkbox" [(ngModel)]="isTagInStatusFile" [checked]="accountFlagsResponse && accountFlagsResponse.IsTagInStatusFile"
                  id="tagInStatusFile" name="tagInStatusFile" formControlName="tagInStatusFile">
                <label for="tagInStatusFile"> <span></span>  Include transponders in IOP Tag Status File    </label>

              </div>
            </div>



          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary btn-search" [disabled]="disableUpdateButton" type="submit"> Save </button>
            <button type="reset" class="btn btn-primary btn-reset" (click)="restCLick()"> Reset </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>