<div class="page-title-header">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#">CSC</a></li>
        <li><a href="#">Payments</a></li>
        <li class="active">Bank Information</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Bank Information</h1>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <app-account-info></app-account-info>
  <app-add-bankinformation> </app-add-bankinformation>
</div>