<div class="page-title-header wow fadeInDown">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li>
          <a href="#">COURT</a>
        </li>
        <li class="active">Court Selection & Evidence Packet Creation</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1> Court Selection & Evidence Packet Creation </h1>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <app-success-failure-alerts-message [messageFlag]='msgFlag' [msgType]='msgType' [msgDesc]='msgDesc' (setFlag)="setOutputFlag($event)"></app-success-failure-alerts-message>
  <div class="row">
    Account#: {{longAccountId}}
    <button class="btn btn-defatul btn-search pull-right" (click)="backNavigation()"> Back </button>
  </div>
  <form role="form" name="summaryComplaintForm" [formGroup]="summaryComplaintForm">
    <div class="panel panel-default">
      <div class="panel-heading">
        Customer Details
      </div>
      <div class="panel-body">
        <!-- <div class="col-md-6">
          <div class="form-group">
            <label> Date of Birth </label>
            <input type="text" formControlName="DOB" class="form-control">
          </div>
        </div> -->


        <div class="form-group col-sm-6 popover-field">
          <label for="" class="focused">Date Of Birth</label>
          <my-date-picker name="mydate" [options]="myDatePickerOptions" (inputFieldChanged)='onDateChanged($event)' formControlName="DOB"
            placeholder="MM/DD/YYYY"></my-date-picker>
          <div class="show-error" *ngIf="!invalidDate && summaryComplaintForm.controls['DOB'].invalid && (summaryComplaintForm.controls['DOB'].dirty || summaryComplaintForm.controls['DOB'].touched)">
            <div *ngIf="summaryComplaintForm.controls['DOB'].errors.required">
              Required
            </div>
          </div>
          <div class="show-error" *ngIf="invalidDate">
            <div>Invalid Date</div>
          </div>
          <button type="button" class="pop-over" [popover]="popDB" popoverTitle="Help" triggers="mouseenter:mouseleave" tabindex="-1"
            placement="left">?</button>
          <ng-template #popDB>
            <ul>
              <li> Select Date of Birth.</li>
            </ul>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Trip Details
      </div>
      <div class="table-responsive" *ngIf='tripsResponse && tripsResponse.length>0;else NodetailsBlock'>
        <table class="table">
          <thead>
            <tr>
              <th>
                <input type="radio"> </th>
              <th> Trip# </th>
              <th> Location </th>
              <th> Vehicle </th>
              <th> Exit Trip Date/Time </th>
              <th> Toll Amount </th>
              <th> Outstanding Amount </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let object of tripsResponse | paginate: { itemsPerPage: pageItemNumber, currentPage: p,totalItems:totalRecordCount,id:'first' }">
              <td>
                <!-- <div class="custom-control custom-radio">
                      <input type="radio" id="{{object.CitationId}}merge" class="custom-control-input" name="isParent" id="isParent" value="isParent"
                        (change)="selectParentCustomer(mergeCustomer.AccountId)">
                      <label for="{{mergeCustomer.AccountId}}merge" class="custom-control-discription"></label></div> -->
                <div class="custom-control custom-radio">
                  <input type="radio" (change)="getTripImage(object);" [id]="object.CitationId" name="tripselection" class="custom-control-input">
                  <label class="custom-control-discription" [for]="object.CitationId"></label>
                </div>
              </td>
              <td> {{object.CitationId}} </td>
              <td> {{object.LocationName}} </td>
              <td> {{object.VehicleNumber}} </td>
              <td> {{object.ExitTripDatetime | customDateTimeFormat}} </td>
              <td> {{object.TollAmount | currencycustom }} </td>
              <td> {{object.OutstandingAmount | currencycustom }} </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row page-info" *ngIf='tripsResponse && tripsResponse.length>0 &&  totalRecordCount > 10'>
        <div class="col-md-6 text-left">
          <p class="p-l-8">Display {{startItemNumber}} - {{endItemNumber}} Records of {{totalRecordCount}}</p>
        </div>
        <div class="col-md-6 text-right">
          <pagination-controls (pageChange)="pageChanged($event)" id="first"></pagination-controls>
        </div>
      </div>
      <ng-template #NodetailsBlock>
        <div class="alert alert-info" role="alert">No details to display</div>
      </ng-template>
      <div class="row" *ngIf="imagePaths && imagePaths.length>0">
        <div class="pad-20 m-b-20">
          <div class="col-md-12">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-right">
        <button class="btn btn-primary btn-search" type="submit" (click)="createSummaryComplaint()">Create Summary Complaint</button>
      </div>
    </div>
  </form>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" id="pageloader" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="text-center">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color:#fff;"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>