<div class="page-title-header">
    <div class="row no-gutters">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="#">Helpdesk</a>
                </li>
                <li class="active">Front Desk</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Front Desk</h1>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <form role="form" name="frontDesk" [formGroup]="frontDesk">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button class="btn btn-default btn-search" [disabled]="!disableOnHoldButton" (click)="onholdClick()">On Hold</button>
                    <button class="btn btn-default btn-search" [disabled]="!disableResolveButton" (click)="resolveClick()">Resolve</button>
                    <button class="btn btn-default btn-search" [disabled]="!disableRejectButton" (click)="rejectClick()">Reject</button>
                    <button class="btn btn-default btn-search" [disabled]="!disableCloseButton" (click)="closeClick()">Close</button>
                </div>
            </div>
        </div>
        <div class="table-bdr">
            <h3>Complaints / Suggestions</h3>
            <div class="pad-10">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label> Ticket # </label>
                        <input type="text" class="form-control" formControlName="ticketid" name="ticketid">
                    </div>
                    <!--<div class="col-md-6">
                    <div class="form-group">
                        <label for="timePeriod">Time Period</label>
                        <input class="form-control" placeholder="Daterangepicker" bsDaterangepicker #dpr="bsDaterangepicker" name="timePeriod" formControlName="timePeriod"
                            [(ngModel)]="timePeriodValue" autocomplete="off">
                    </div>
                </div>-->
                    <div class=" form-group col-md-6">
                        <label for="Date Range" class="focused">Time Period</label>
                        <div class="show-error" *ngIf="!invalid&&(frontDesk.controls['timePeriod'].invalid && (frontDesk.controls['timePeriod'].dirty || frontDesk.controls['timePeriod'].touched))">
                            <div *ngIf="frontDesk.controls['timePeriod'].errors.required">
                                Required.
                            </div>
                        </div>
                        <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" formControlName="timePeriod" (inputFieldChanged)='onDateRangeChanged($event)'
                            placeholder="MM/DD/YYYY-MM/DD/YYYY"></my-date-range-picker>
                        <div class="show-error" *ngIf='invalid'>
                            <div> Invalid Date Range</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="focused"> Type </label>
                        <select class="form-control" formControlName="CmpType" name="CmpType">
                            <option selected='selected' value="">--Select--</option>
                            <option *ngFor='let pt of problemTypes' value="{{pt.Key}}">{{pt.Value}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="focused"> Status </label>
                        <select class="form-control" formControlName="CmpStatus" name="CmpStatus">
                            <option selected='selected' value="">--Select--</option>
                            <option *ngFor='let p of pmStatus' value="{{p.LookUpTypeCode}}">{{p.LookUpTypeCodeDesc}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="focused"> Priority </label>
                        <select class="form-control" formControlName="CmpPriority" name="CmpPriority">
                            <option selected='selected' value="">--Select--</option>
                            <option *ngFor='let p of pmPriority' value="{{p.LookUpTypeCode}}">{{p.LookUpTypeCodeDesc}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="focused"> Severity </label>
                        <select class="form-control" formControlName="CmpSeverity" name="CmpSeverity">
                            <option selected='selected' value="">--Select--</option>
                            <option *ngFor='let p of pmSeverity' value="{{p.LookUpTypeCode}}">{{p.LookUpTypeCodeDesc}}</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" (click)="searchClick()" class="btn btn-primary btn-search">Search</button>
                        <button type="button" (click)="resetClick()" class="btn btn-primary btn-reset"> Reset </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-bdr">
            <h3>Complaint Details</h3>
            <div class="pad-10">
                <div *ngIf='search && search.length;else NodetailsBlock'>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Check box</th>
                                    <th>Ticket#</th>
                                    <th>Status</th>
                                    <th>Type</th>
                                    <th>Created Date</th>
                                    <th>Due Date</th>
                                    <th>Severity</th>
                                    <th> Title </th>
                                    <th> Priority </th>
                                    <th> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let srch of search| paginate: { itemsPerPage: pageItemNumber, currentPage: currentPage }">
                                    <td>
                                        <div class="checkbox-inline checkbox">
                                            <input type="checkbox" (change)='checkboxCheckedEvent(srch,$event)' id="{{srch.TicketId}}" name="selectedSearchList" [checked]="srch.isSearchBoxSelected">
                                            <label for="{{srch.TicketId}}">
                                        <span></span>
                                        </label>
                                        </div>
                                    </td>
                                    <td>{{srch.TicketId}}</td>
                                    <td>{{srch.Status}}</td>
                                    <td>{{srch.ProblemType}}</td>
                                    <td>{{srch.DateReported| customDateTimeFormat}}</td>
                                    <td>{{srch.TargetDate| customDateTimeFormat}}</td>
                                    <td>{{srch.Severity}}</td>
                                    <td>{{srch.ProblemTitle}}</td>
                                    <td>{{srch.PriorityDesc}}</td>
                                    <td>
                                        <a (click)='viewComplaint(srch.ProblemId)'>View</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row page-info ">
                        <div class="col-md-6 text-left ">
                            <p>Display {{startItemNumber}} - {{endItemNumber}} Records of {{dataLength}}</p>
                        </div>
                        <div class="col-md-6 text-right ">
                            <pagination-controls (pageChange)="pageChanged($event) "></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #NodetailsBlock>
                <div>No details to display</div>
            </ng-template>
        </div>
    </form>
</div>
<app-pm-popup (handleMsg)="onStatusChange($event)"></app-pm-popup>
<app-success-failure-alerts-message [messageFlag]='msgFlag' [msgType]='msgType' [msgDesc]='msgDesc' (setFlag)="setOutputFlag($event)"></app-success-failure-alerts-message>