.btn-outline-primary {
    color: #0275d8;
    background-image: none;
    background-color: transparent;
    border-color: #0275d8;
}

.btn-outline-primary:hover {
    color: #fff;
    background-image: none;
    background-color: #0275d8;
    border-color: #0275d8;
}

.payment-contents {
    border:1px solid #ccc;
    background-color: #FFF;
    min-height: 100px;
    margin: 25px 0 0px;
    padding: 10px;    
}