<div class="page-title-header">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li>
          <a href="#">CSC</a>
        </li>
        <li>
          <a href="#">Customer Accounts</a>
        </li>
        <li class="active">Payment</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Payment</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="payment-steps">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li><span>1</span>Account Information</li>
              <li><span>2</span>Plan Selection</li>
              <li><span>3</span>Vehicle Information</li>
              <li><span>4</span>Preferences</li>
              <li class="active"><span>5</span>Payment</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="payment-steps-2">
        <ul>
          <li class="done"><span>1</span>Payment Mode</li>
          <li class="done"><span>2</span>Verify &amp; Submit</li>
          <li class="active"><span>3</span>Payment Receipt</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="table-bdr padding-20 pay-confirm m-t-20" *ngIf='paymentResponse'>
    <h1>Thank you for registering with us!</h1>
    <p>Please keep a note of your transaction details for future use.</p>
    <ul *ngIf="!isZeroAmountCustomer">
      <li>Reference #: <span>{{paymentResponse.VoucherNo}}</span></li>
      <li>Account #: <span>{{paymentResponse.CustomerId}}</span></li>
      <li>Total Payment Amount: <span>{{paymentResponse.ToltalAmountPaid | currency:'USD':true:'1.2-2'}}</span></li>
      <li>Paid by: <span>{{paymentMode}}</span></li>
      <li *ngIf='paymentResponse.CCSuffix4'>Card Type: <span>{{ccMode}}</span></li>
      <li *ngIf='paymentResponse.CCSuffix4'>Credit Card #: <span>XXXX_{{paymentResponse.CCSuffix4}}</span></li>
      <li *ngIf='paymentResponse.MoneyOrderNumber'>Money Order #: <span>{{paymentResponse.MoneyOrderNumber}}</span></li>
      <li *ngIf='paymentResponse.BankAccountNumber'>Bank Account Number #: <span>XXXX_{{paymentResponse.Banksuffix}}</span></li>
      <li *ngIf='paymentResponse.ChequeNumber'>Check #: <span>{{paymentResponse.ChequeNumber}}</span></li>
      <li>Transaction Date/Time: <span>{{paymentResponse.TransactionDate | customDateTimeFormat }}</span></li>
    </ul>
    <ul *ngIf="isZeroAmountCustomer">
      <li>Account #: <span>{{paymentResponse.CustomerId}}</span></li>
    </ul>
    <p> Go to <strong>  Account Summary </strong><a (click)="goAccountSummary()"> Click Here</a> <br/> Confirmation mail has
      been sent to <strong>{{paymentResponse.EmailAddress}}</strong></p>

  </div>
  <div *ngIf="!isZeroAmountCustomer">
    <button type="submit" [disabled]="disableReceipt" (click)="printReceipt()" class="btn btn-primary btn-search"> <i class="fa fa-print fa-lg fa-fw" aria-hidden="true"> </i> Print Payment Receipt</button>
    <button type="submit" [disabled]="disableReceipt" (click)="paymentEmail(1)" class="btn btn-primary btn-search"> <i class="fa fa-envelope-o fa-lg fa-fw" aria-hidden="true"></i> Email Payment Receipt</button>
    <button class="btn btn-primary btn-search" type="button" (click)="onCancel()"> <i class="fa fa-plus-square-o fa-lg fa-fw" aria-hidden="true"></i> Create a New Account</button>
  </div>
</div>
<app-success-failure-alerts-message [messageFlag]='msgFlag' [msgType]='msgType' [msgDesc]='msgDesc' (setFlag)="setOutputFlag($event)"></app-success-failure-alerts-message>