<div class="page-title-header">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#">CSC</a></li>
        <li><a href="#">Payments</a></li>
        <li class="active">Payment History</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Payment History</h1>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <app-account-info></app-account-info>
  <app-payment-history></app-payment-history>
</div>