
<div class="page-title-header container">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#">IMC</a></li>
        <li><a href="#">Purchase Order</a></li>
        <li class="active">Vendor Purchase Orders</li>
      </ol>
    </div>
    <div class="col-md-12">
      <div class="page-header">
        <h1>Purchase Order</h1>
      </div>
    </div>
  </div>
    <app-success-failure-alerts-message [messageFlag]='msgFlag' [msgType]='msgType' [msgTitle]='msgTitle' [msgDesc]='msgDesc'
    (setFlag)="setOutputFlag($event)"></app-success-failure-alerts-message>
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12  text-right">
      <div class="form-horizontal m-b-10">
        <button type="submit" class="btn btn-primary btn-search" (click)="navigateToPurchaseOrderSearch()">  BACK</button>
      </div>
    </div>
  </div>
  <div class="col-md-12 bluecolor">
    <div class="row">
      <div class="row rowMarginship">
        <div class="col-md-1 col-md-offset-5">
        
        </div>
      </div>

      <div class="col-md-4 ship-table">
        <div class="panel panel-default p-height">
          <div class="panel-heading">Purchase Order</div>
          <div>
            <table class="table table-responsive table-cell-div">
              <tbody>
                <tr>
                  <td>Purchase Order #:</td>
                  <td>{{itemDetailsResponse.PurchaseOrderNumber}} </td>
                </tr>
                <tr>
                  <td>Purchase Order Date :</td>
                  <td>{{itemDetailsResponse.PurchaseOrderDate | customDateFormat}}</td>
                </tr>
                <tr>
                  <td>Warranty Name :</td>
                  <td>{{itemDetailsResponse.WarrantyName}}</td>
                </tr>
                <tr>
                  <td>Warranty(In Months):</td>
                  <td>{{itemDetailsResponse.WarrantyInMonths}}</td>
                </tr>
                <tr>
                  <td>Contract #:</td>
                  <td>{{itemDetailsResponse.ContractNumber}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4 ship-table">
        <div class="panel panel-default p-height">
          <div class="panel-heading">Vendor Details</div>
          <div>
            <table class="table table-responsive table-cell-div">
              <tbody>
                <tr>
                  <td><strong>{{itemDetailsResponse.VendorName}}</strong></td>
                </tr>
                <tr>
                  <td>{{itemDetailsResponse.Address}}</td>
                </tr>
            

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4 ship-table">
        <div class="panel panel-default p-height">
          <div class="panel-heading">Contact Information</div>
          <div>
            <table class="table  table-responsive table-cell-div">
              <tbody>
                <tr>
                  <td class="table-cell-div">CEO Name :</td>
                  <td>{{itemDetailsResponse.CEOName}}</td>
                </tr>
                <tr>
                  <td class="table-cell-div">Email:</td>
                  <td class="table-cell-div">{{itemDetailsResponse.EmailAddress}} </td>
                </tr>
                <tr>
                  <td class="table-cell-div">Phone :</td>
                  <td class="table-cell-div">{{itemDetailsResponse.PhoneNumber}}</td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row" *ngIf='itemDetails && itemDetails.length'>
    <div class="col-md-12">
      <div class="panel panel-default m-t-10">
        <div class="panel-heading"> Item (s) Details </div>
        <table class="table">
          <thead>
            <tr>
              <th>Item Name</th>
              <th>Description</th>
              <th>Quantity</th>
              <th>Recived Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemDetailsRes of itemDetails">
              <td> {{itemDetailsRes.ItemName}}</td>
              <td> {{itemDetailsRes.ItemDesc}} </td>
              <td>{{itemDetailsRes.ItemQuantity}}</td>
              <td>{{itemDetailsRes.ReceivedQty}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



