<div *ngIf='transitTripsRes && transitTripsRes.length' class="table-bdr">
    <h3>Transit Transactions</h3>
    <div class="pad-10">
      <div *ngIf='transitTripsRes && transitTripsRes.length;else NoDetailsBlock'>
        <div class="table-responsive">
        <table class="table">
          <thead> 
          <tr>
            <th>Departure Date/Time</th>
            <th>Arrival Date/Time</th>
            <th>Departure Terminal</th>
            <th>Serial #</th>
            <th>Plate #</th>
            <th>Amount</th>
            <th>Outstanding Amount</th>
          </tr>
          </thead>
          <tr *ngFor="let object of transitTripsRes">
            <td> {{object.Entry_TripDateTime | customDateTimeFormat}} </td>
            <td>{{object.Exit_TripDateTime | customDateTimeFormat}} </td>
            <td> {{object.LocationName}} </td>
            <td> {{object.TagId | DisplayNA}} </td>
            <td> {{object.VehicleNumber | DisplayNA}} </td>
            <td> {{object.TollAmount | currency:'USD':true:'1.2-2'}} </td>
            <td> {{object.OutStandingAmount | currency:'USD':true:'1.2-2'}} </td>
          </tr>
          <!--<tr *ngIf='transitTripsRes.length>=5'>
          <td style="float:right" > <a href=""> More </a></td>
          </tr>-->
        </table>
        </div>
        <div class="row">
        <div class="col-md-12 text-right" *ngIf='transitTripsRes.length>=5' style="float:right"><a (click)="goToTransactions('TRANSIT')"> More </a></div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #NoDetailsBlock>
    <div class="alert alert-info" role="alert">No details to display</div>
  </ng-template>