<div class="page-title-header">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li>
          <a href="#">SAC</a>
        </li>
        <li class="active">Dashboard</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="page-header">
        <h1>System Status</h1>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-6 text-right">Friday December 15, 2017 11:55:04</div>
        <div class="col-md-6 text-right">Last Refreshed On : Dec 15, 2017 11:52 AM</div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="row m-t-20">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
              <div class="table-bdr">
                <h3>Systems' Ping Status</h3>
                <div class="graph-area">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td><img src="assets/images/circle_green.png" alt=""></td>
                        <td><a>QANewServer</a></td>
                        <td>UP</td>
                        <td><img src="assets/images/refresh.png" alt=""></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="more">
                    <div class="row no-gutters">
                      <div class="col-sm-6"><a>History</a></div>
                      <div class="col-sm-6 text-right"><a>More..</a></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>

